[2011-10-05 16:34] davidmcclure commented on #3
Fixed, with some aggressive, Napoleonic abuse of !important.

[2011-10-11 13:33] davidmcclure commented on #1
Fixed.

[2011-10-11 17:43] davidmcclure commented on #2
This is mostly fixed, although there are some cases where the offsets appear to be off by a handful of pixels. Not sure what this is. It may be related to the borders on the <tr> divs, or maybe something about the number of display:none-ed divs that are between some of the divs that are being calculated on.

[2011-10-12 12:59] davidmcclure commented on #2
Fixed.

[2011-10-13 13:21] waynegraham commented on #11
May need to pull this out and deal with the default UI from Omeka; I suspect some weird cached elements form the stylesheets.

[2011-10-13 13:22] waynegraham commented on #10
Is this still open?

[2011-10-13 13:22] waynegraham commented on #9
Is this still open?

[2011-10-13 13:23] waynegraham commented on #8
Did this get closed with the block assignment for styles?

[2011-10-13 13:27] waynegraham commented on #4
I have some concerns with ajax calls like this for large collections because of the way in which the ORM in Zend handles large queries (especially if you're using the getTable method). We need to deal with the issue for the SolrSearch plugin too.

[2011-10-13 18:05] davidmcclure commented on #9
Yes. Are you seeing the problem in FF?

[2011-10-19 15:50] waynegraham commented on #17
overflow scroll-y for now

[2011-10-19 16:06] waynegraham commented on #4
Look at the abort() function.

[2011-10-31 15:22] jeremyboggs commented on #11
Agreed. I think it would be better in general to rely on Omeka's default UI stuff as much as possible, especially since the UI is potentially going to change in Omeka 1.5.

[2011-10-31 19:42] jeremyboggs commented on #11
This issue was caused by other Neatline plugins (NeatlineMaps and NeatlineTime) loading Neatline's neatline-admin.css file instead of their own. I've fixed this by changing the name of the CSS file in each of those plugins to something more unique. Those changes are already committed in the master branches of each of those plugins.

[2011-10-31 19:47] jeremyboggs commented on #11
See the following commits for more info:
- scholarslab/NeatlineTime@f83b1e6ddbfbaf2ea985b0acb103a4449f99f9a1
- scholarslab/NeatlineMaps@3fc7cf77434a1686dc8fd3a070f3175ae2fc7cfb

[2011-11-14 13:25] davidmcclure commented on #8
No, this bug is still present.

[2011-12-02 23:10] davidmcclure commented on #8
Fixed.

[2011-12-02 23:11] davidmcclure commented on #17
No longer relevant.

[2011-12-18 22:20] davidmcclure commented on #10
Fixed.

[2011-12-18 22:21] davidmcclure commented on #4
New version of item browser code irons this out.

[2011-12-18 22:27] davidmcclure commented on #14
Not useful enough.

[2011-12-18 22:36] davidmcclure commented on #15
Vain and un-useful.

[2011-12-31 16:08] davidmcclure commented on #13
No longer relevant.

[2012-01-01 19:22] davidmcclure commented on #6
Not important.

[2012-01-02 17:33] davidmcclure commented on #9
FIxed.

[2012-01-18 14:22] davidmcclure commented on #12
Since I expect that the filtering functionality will be used mainly to apply 1 - maybe 2 - filters to the list of items (like, just show things with tag X) I think that the current implementation is sufficient. Also, since the all/none checkbox always allows the user to return the list to the full state, I think this is a non-issue.

[2012-02-10 18:22] davidmcclure commented on #16
Done.

[2012-07-01 15:24] nowviskie opened #145 "Ability to clone existing exhibits"
It would be nice if users could duplicate existing exhibits for re-editing/re-imagining, without having laboriously to add and edit every item again.  This would be especially useful in a classroom setting, where an instructor could create a base exhibit and ask students to re-work and extend it.

[2012-07-01 15:24] nowviskie commented on #145
(Also, I'm lazy.)

[2012-08-29 17:16] jeremyboggs commented on #145
This shoudl be easy enough to implement. It would need to amend the title and/or URL slug to avoid conflicts with other copies.

Would you also want to consider this a parent-child relationship? Or, provide some indication that an exhibit is a derivative of another exhibit, and link to that somehow?

[2012-08-29 18:18] nowviskie commented on #145
I don't think it's necessary to preserve parent-child relationships or any enduring connection between the original and the derivative.

It might be nice to provide a link to the original in the admin interface (for reference, in case credit really is due, in which case it would be on the deriv's creator to mention it somewhere in the public interface) -- but you wouldn't want to a force a public

[2013-09-10 15:06] davidmcclure opened #252 "Add an exhibit "duplicate" button"
We've gotten a number of requests for a feature that would make it possible to duplicate exhibits - to create an exact copy of an exhibit and all of its records.

This would make it possible to do a crude kind of version control on Neatline content without having to dip down to the level of database dumps. For example, if I have an exhibit that I've started working on, I might want to duplicate it

[2013-09-27 15:44] waynegraham opened #256 "Date centering in Firefox"
There appears to be a Firefox-specific rendering issue for Timeline BC dates in a Neatline exhibit. For **startdate** -000100 and **enddate** -000080, the span exits, but does not move on the DOM. However, AD dates do appear to function properly.

Again, this _appears_ to be a Firefox only issue (testing on OS X 23 and 24), but functions as intended on other browsers I've tested (Chrome, Safari, a

[2013-09-30 13:51] waynegraham commented on #252
This looks like a duplicate of #145

[2014-01-09 13:07] tamielbr opened #272 "Search box in fullscreen view"
I'm wondering if there is an easy way to add a search box in fullscreen map view. We have a map of cultural interest points in our city and finding items can be difficult. We sorted them alphabetically. Search, even just a name/title would be useful.

[2014-01-15 14:38] waynegraham opened #274 "Timeline gradients"
The "fuzzy" factor for the timespans was removed...please put them back.

[2014-01-15 17:56] nowviskie commented on #274
+1. I know our approach might not have been elegant from the development POV, but it's a key conceptual contribution and I don't feel like Neatline is Neatline without it.  Is there anything of immediate use in this new project? https://github.com/ComputingPlace/Topotime

[2014-01-15 19:38] jeremyboggs commented on #274
@nowviskie Not sure it's of immediate use, but it looks like a nice alternative to Simile, for this and [NeatlineTime](/scholarslab/NeatlineTime).

+1 for this also.

[2014-02-27 15:49] Breeshee opened #287 "Mastering Slugs"
What are some strategies to potentialize robust interlinking between Omeka items and NL records? I'm fumbling with the slugs linking with developing html skills. What are the steps to link via slugs? The documentation is missing the magic key for me.

Thanks,

Bria

[2014-02-27 16:00] waynegraham commented on #287
@Breeshee Are you trying to create a link from an Omeka item to a Neatline Exhibit? The system is designed to go in the opposite way by generating connections to Omeka Items when they're imported in to an exhibit...or are you talking about something else?

[2014-02-27 16:13] Breeshee commented on #287
@waynegraham I'm meaning to use the slug function (I assume this is where linking is possible) to link between items/records within an exhibit for public view.

A scenario would be I have a record that shows "Contentcontentcontent, Reference 1, Reference 2" I would like "Reference 1" and "Reference 2" to link to another record within the same exhibit.

[2014-03-03 18:14] davidmcclure commented on #287
Hey @Breeshee - if I'm understanding correctly, I actually don't think there's a way to accomplish what you're trying to do with the out-of-the-box tools in the editor. Just to make sure I'm thinking about this correctly - basically, if you have "Record 1" and "Record 2" in a Neatline exhibit, you want to have a link in the "Record 1" content that would open "Record 2," as if it had been opened by

[2014-03-03 20:09] Breeshee commented on #287
Hi David,

Thanks for the response, and you are understanding my request properly: to
create hyperlinked connections between records within an exhibit but
navigable through the records themselves.

Please do file a feature request, and I'll watch for updates.

My best,
Bria

On Mon, Mar 3, 2014 at 1:14 PM, davidmcclure notifications@github.comwrote:

[2014-04-14 14:32] sheepeeh opened #293 "Feature request: Exhibit Builder 3.0 layout for maps."
Like the one available for Timelines.

[2014-04-14 17:21] waynegraham commented on #293
This is great @sheepeeh...just adding a few notes below...

ExhibitBuilder 3 allows plugins to define custom layouts (see http://omeka.readthedocs.org/en/eb3/Tutorials/extendingExhibitBuilder.html). John had made a pull request for NeatlineTime to do this (https://github.com/scholarslab/NeatlineTime/commit/8ee3755cee9e02510fde7e9d250626b8b4594579), but I suspect this may be a bit more complicated

[2014-04-14 17:49] sheepeeh commented on #293
That's actually how I do it now--manually adding an iframe with no border within a text block. Just being able to select the map from a list to do this rather than finding the appropriate link would be helpful.

[2014-04-24 16:21] Breeshee commented on #287
Hello David!

Do you have any updates on this feature request? It would be great to learn of a general timeline for when the router is built into Neatline.

Thanks!

Bria

[2014-04-25 15:55] ryanbrazell opened #295 "Request: Set Boundary for Zooming and Panning"
I've gotten a request from a student working on an Omeka to be able to "lock" a visitor in place on a Neatline Map. Ideally, the Neatline exhibit creator would be able to choose the boundary to which a visitor can zoom and pan away from the original viewport (with "not at all" being an option).

[2014-04-26 14:24] waynegraham commented on #295
Thanks for the @ryanbrazell.

[2014-04-26 15:02] waynegraham commented on #287
@Breeshee We don't have a timeline for implementing this feature request. We're a bit short staffed right now (David has taken a really cool new job) and it will most likely be fall before we are in a position to start evaluating feature requests and planning future releases.

[2014-04-30 17:36] jschell42 commented on #295
Is there a way to do this? I'm trying to do the same thing.

[2014-04-30 17:58] waynegraham commented on #295
No, there is not currently a way to do this. This would be a feature request that we need to evaluate (or get a pull request for) for a future release. However, your feedback here can help us clarify what this particular feature would be, and how it would work.

[2014-05-01 03:34] davidmcclure commented on #295
Hey folks,

Funny, I got almost exactly the same request from someone else just yesterday! This would actually be pretty easy to do, since OpenLayers has built-in configuration options for min/max extents. Off the top of my head, I think this would do the trick:
- In the editing, under the exhibit settings tab, add two new fields: **Maximum Extent** and **Minimum Extent**. Like the default focus f

[2014-05-01 15:21] krdyke commented on #295
Hi,

In my experience with OpenLayers, resolutions will need to be handled in addition to setting min/max extents (or restricted extent may be of interest as well, see [this example](http://dev.openlayers.org/releases/OpenLayers-2.13.1/examples/restricted-extent.html) for the difference between those).

One way to enforce a minZoom would be to set `maxResolution: "auto"` along with setting `maxExt

[2014-05-01 18:28] Breeshee opened #296 "Neatline Contigency"
Hello!

Experimenting with Neatline has been a great educational experience. At the moment I am working on a project and am curious about the longevity of the Neatline Plug-in. Will developments in Neatline stagnate to its current working functions/format, or will there be investment in advancing its design, use, and features?

Please provide a realistic idea as a long term project is dependent on

[2014-05-01 18:56] waynegraham commented on #296
@Breeshee,

The Scholars' Lab is committed to this project, but one of the reasons we open sourced this (and just about everything else) is that should we become less-committed to a particular project, that there might be an open source community that would continue the work. This does require a different kind of commitment to these types of projects from people who want to use the software long-t

[2014-05-01 19:06] tamielbr commented on #296
We've done some work helping out with bugs, and we're actively looking for some funding to continue working on our project (http://cultcampinas.org) which we hope can be reverted to more substantial contributions in terms of software design.
Part of the reason for using Neatline is that (in layering with Omeka) it has features and capabilities which we are hard pressed to find in other mapping sys

[2014-05-01 21:05] waynegraham commented on #296
@tamielbr That page is very useful! I did notice a couple things on it; Neatline does allow you to style both groups of shapes (including points) with the tags and CSS as well as have custom pointers (both as image markers) and as custom color points.

Mind if we find a place to link to this resource?

[2014-05-01 21:20] tamielbr commented on #296
Not at all. Feel free to edit or let me know of anything that is wrong. We'll be "crowding" this within the next couple of weeks to get rid of initial mistakes. I'll get this one fixed.

[2014-05-01 21:30] nowviskie commented on #296
This really is great! I updated the set of Neatline examples to include some more current ones (and remove "sandbox" links, which will eventually go away).

[2014-05-07 15:48] davidmcclure commented on #295
Hey @krdyke,

Great, thanks for the info about the scales array, didn't know about that.

OpenLayers gets spun up in the [map view](https://github.com/scholarslab/Neatline/blob/develop/views/shared/javascripts/src/map/map.view.js#L96-122). To get started, clone the `develop` branch and run `./bin/setup`, which installs dependencies and builds the static asset payloads. (You'll need node/npm, bower

[2014-05-09 14:38] krdyke commented on #295
Thanks for the tips! I'll hopefully set aside some time over the next week
or so and dig into this. In principle it's nothing too major, so I'll see
how far I can get and ask for help when needed.

On Wed, May 7, 2014 at 10:48 AM, davidmcclure notifications@github.comwrote:

[2014-05-11 20:35] jschell42 commented on #295
Cool, thanks guys!

[2014-06-04 21:54] krdyke commented on #295
see #310 for my initial attempt at resolving this

[2014-07-23 18:37] EvanPHamilton commented on #145
Has any progress on this been made?

[2014-07-24 17:26] jeremyboggs opened #322 "Include narrative on fullscreen view."
Given that the Neatlight theme is essentially a full screen view with the Narrative on top of the map, it makes sense to me to just add this to the fullscreen view in teh Neatline plugin itself. That way, the Text widget works out of the box, in any theme, without the need for the Neatlight theme or updates to any other theme. It'd also just make the narrative available on the fullscreen, even if

[2014-08-29 15:42] waynegraham opened #330 "png8 causing issues"
In OpenLayers we're requesting the `image/png8` format. However, not every WMS service offers this optimized version. This is specifically a problem with the NYPL and Harvard Map Warper projects. We should update this to just request the `image/png` format.

[2014-08-30 00:45] gusunavarro commented on #330
Ok Wayne, I hope that you can help me
Thanks
gus

[2014-09-02 01:02] gusunavarro commented on #330
Wayne
only can see these
gus

![layers](https://cloud.githubusercontent.com/assets/924400/4112879/a87a7536-323c-11e4-8bdd-2fecaf29e1da.png)

[2014-09-02 17:22] waynegraham commented on #330
@gusunavarro Are you setting the WMS for the entire exhibit, or just the "Huela personal..." record?

[2014-09-02 17:24] waynegraham commented on #330
@gusunavarro Oh, and what base map are you using?

[2014-09-02 18:08] gusunavarro commented on #330
Wayne
Thanks very much for your answer. Yes I use wms for the entire exhibit.
but I only can see these map and not my list of spatial layers.But for see need use a lot of zoom + -. Maybe you can see  www.  http://www.koluel.org/neatline/show/huelgas-personal-ferrocarril   I use base spatial layers OSM.
![spatial](https://cloud.githubusercontent.com/assets/924400/4123076/bbaa7212-32ca-11e4-95c6-a3e

[2014-09-02 19:07] waynegraham commented on #330
I think may be a different issue than the png8 issue; does this sound sound like what is going on?

When you set a base WMS layer from MapWarper (Harvard or NYPL), spatial layers on top of that base layer don't appear.

Does this change if you remove this map as the base layer and use something like the Open Street Map layer and then add this in as a new record?

[2014-09-02 19:29] gusunavarro commented on #330
here in mapwarper with OSM
http://warp.worldmap.harvard.edu/maps/3433#Preview_Map_tab

and here with
http://worldmap.harvard.edu/maps/koluel

[2014-09-02 20:10] gusunavarro commented on #330
Does this change if you remove this map as the base layer and use something like the Open Street Map layer and then add this in as a new record?

Do you have any example?

[2014-09-03 12:24] gusunavarro commented on #330
Wayne , sorry for insistence, but here in my university we need show these.
I created and example but I don't see the layers

for example
these is my new record
http://www.koluel.org/neatline/show/lituania

![wms](https://cloud.githubusercontent.com/assets/924400/4133923/3bedbb06-3365-11e4-952b-24e130b89a05.png)

[2014-09-03 13:12] waynegraham commented on #330
Change the WMS layer name to 3433

![neatline editor lituania](https://cloud.githubusercontent.com/assets/45000/4134381/e493b2f0-336b-11e4-9c63-23a862328db7.png)

[2014-09-03 15:13] gusunavarro commented on #330
Wayne
Thanks very much for your answer. I add the same that your image . but I don't see the image.
![style3](https://cloud.githubusercontent.com/assets/924400/4136118/df0fa4c8-337b-11e4-951b-2781957ad952.png)s

maybe you can see in my site, what is the problem?
I add to my site an account
wayne
123456

[2014-09-03 15:14] gusunavarro commented on #330
www.koluel.org/admin

[2014-09-04 03:14] gusunavarro commented on #330
Wayne
Today  I try as you said
I add 3433 to WMS layer name but I don't have luck.
![layers6](https://cloud.githubusercontent.com/assets/924400/4144467/263092d0-33e1-11e4-8875-08f8a5b01b8b.png)

sorry for my questions.
gus

[2014-09-04 13:16] waynegraham commented on #330
What is the full WMS address? It should have the 3433 at the end as well...

[2014-09-04 16:50] gusunavarro commented on #330
http://warp.worldmap.harvard.edu/maps/wms/3433

[2014-09-05 14:24] gusunavarro commented on #330
Dear Wayne

Do you have any idea of the problem?
Thanks
gus

[2014-09-05 17:29] gusunavarro commented on #330
from Harvard

Yes we have not publicized WMS capabilities out of WorldMap so it is not in the documentation.  Here it is:

Notes:

Warper is working for bringing WMS layers either into WorldMap or Neatline.  You should not need to bring layers from Warper into WorldMap to create WMSs from them.

WorldMap is working for bringing WMS layers into Neatline.

Getting WMSs to work in Neatline this has o

[2014-09-05 17:49] davidmcclure commented on #330
Hey @gusunavarro,

Two things are going on here. First, you need to use the plaintext identifier for the WMS layer that's getting served out of WorldMap, which, in this case, is just `image`. I don't know too much about WorldMap, so I'm not sure if this is always the default, or if it could be configured somewhere - I found it just by inspecting the outgoing WMS requests from http://worldmap.harva

[2014-09-05 17:58] davidmcclure commented on #293
@erochest, was this resolved by the work you pushed up a couple days ago?

[2014-09-05 18:01] erochest commented on #293
Yeah, github shows that it will close once 6e105de34ea73fc9572767278380b8c9cf40c603 is merged into master.

[2014-09-05 18:06] davidmcclure commented on #293
Oh cool, sorry, didn't see that.

[2014-09-05 18:13] waynegraham commented on #330
@davidmcclure now we have two branches with the same fix :) bug/png8 and feature/map_warperfix. Just need to prune those when we merge this.

@gusunavarro I'm not sure you have the correct branch checked out on your server...Try downloading this version on your server:

[code]

I've also been in touch with Ben about getting some instructions on MapWarper too...

Wayne

[2014-09-05 18:35] davidmcclure commented on #330
Doh, sorry, I'm juggling like 10 support threads right now and can't keep them all straight in my head. I bet the `feature/map_warperfix` branch isn't working for @gusunavarro because the change in the source hasn't been compiled into the production payloads that get tracked in the repo (this is done with `grunt freeze`). `bug/png8` should work after just cloning/downloading the repo, without any

[2014-09-05 18:47] gusunavarro commented on #330
here
http://www.koluel.org/neatline/show/santa-cruz#records/1

[2014-09-05 18:48] gusunavarro commented on #330
http://www.koluel.org/neatline/show/santa-cruz

[2014-09-05 18:49] davidmcclure commented on #330
Cool! Now, you'll probably want to bump up the "Fill Opacity" setting on the record, which will make the layer more opaque. Also, in the long run, you might want to try georectifying a higher-resolution version of the image, which will make it look less pixelated when you zoom in close.

[2014-09-05 18:50] gusunavarro commented on #330
thanks very much to all

[2014-10-01 15:12] koneilluz opened #336 "Record zoom settings"
I fear I have missed something painfully obvious (it happens a lot!): When I select a record on the Waypoints list the map zooms to the zoom/focus I set for the record. The same happens when I select a record from the timeline or from the record list (in editing view). However, if I select a record on the map itself, the zoom does not change. What have I missed? Is there a way to make that happen?

[2014-10-01 23:23] davidmcclure commented on #336
Hey Kelly,

This is actually a deliberate feature! Although, it's debatable if I made the right decision with this. Here's what I was thinking back in 2012 - there are times when selecting a record on the map will cause a really dramatic shift in "context." For example, imagine you've got a map of the US, with a bunch of little dots on it, each of which has a really low-level focus, down at the le

[2014-10-09 10:57] tarsierspectral commented on #322
Has this been implemented yet?

[2014-10-09 14:58] tamielbr commented on #322
@tarsierspectral I'm not sure this is what you're interested in doing, but here is an example http://mapa.cultcampinas.org/fullscreen/roteiro-centro

[2014-10-09 15:05] tarsierspectral commented on #322
@tamielbr That's exactly what I want to do but I can't figure out how to make it work so I can use it without using Neatlight theme.  But now looking at your site I would love to be able to just use the pop up window so the images are enlarged when you click on one of the images and you see all the metadata right there and also you can go to the next image sort of like a slideshow.  How did you ge

[2014-10-09 15:08] tamielbr commented on #322
You can find our repository here https://github.com/gabrielfedel/mapaculturacampinas if you're interested in taking a look at the code. I will copy @gabrielfedel who is more aware of the details and should be able to help out.

[2014-10-09 15:10] erochest commented on #322
This has been implemented, but it hasn't been released yet. We'll need to do some coordination, because it involves changes to both Neatline proper and the [Text widget](https://github.com/scholarslab/nl-widget-Text). We need to figure out what needs to be done to both repos to get a meaningful release out and then put them out in tandem.

In the meantime, if you want to try to use their git repos

[2014-10-09 15:11] tarsierspectral commented on #322
@tamielbr Thank you.  I can look at the code but I think I need some guidance.  Hopefully @gabrielfedel can offer some help

[2014-10-09 15:18] tarsierspectral commented on #322
@erochest actually, I was concerned about being stuck with the Neatlight theme in order to use Text widget because when you use Neatlight theme the Omeka site also gets that theme and looks awful but after seeing @tamielbr site I wouldn't even have to be taken to my Omeka site if I could format the page so all the metadata shows up in a pop up box (image slider) when one clicks on the image to enl

[2014-10-09 15:22] tarsierspectral commented on #322
@tamielbr one thing that I don't see on your site is the dotted line that connects the text to the feature on the map

[2014-10-09 15:25] tamielbr commented on #322
@tarsierspectral We indeed don't have that yet. It is focused on the link between the narrative using _span data-neatline-slug="NAME"_ and the geo points in Neatline. It has been about 1 year since we made modifications to the site (we are due for a large upgrade this year), so I'm not sure we have many of the features that might be available.

[2014-10-09 15:27] tarsierspectral commented on #322
@tamielbr I see.  I am still very interested in how you got the pop up for images to work

[2014-10-09 15:32] tamielbr commented on #322
If you're interested in the lightbox popup, meanwhile, you might take a look at this https://github.com/scholarslab/Neatline/issues/318#issuecomment-48841756

[2014-10-09 15:34] tarsierspectral commented on #322
yeah, I did but that apparently doesn't work any more.  I posted the question there too

[2014-10-15 10:44] tarsierspectral commented on #322
@erochest Eric,  Does this only apply to the text widget or WordLines widget as well?

[2014-10-15 13:08] erochest commented on #322
The [Text widget](https://github.com/scholarslab/nl-widget-Text). We're focusing our development on that right now.

[2014-10-15 15:25] tarsierspectral commented on #322
@erochest OK.  thanks

[2014-10-20 20:21] mkane2 commented on #330
Hi @waynegraham and @davidmcclure -- sorry if this is resurrecting an old thread, but I've installed the the bug/png8 branch to use a WorldMap WMS in Neatline, and still have no success in getting theWMS layer to show up in Neatline.  My rectified map shows up in WorldMap itself just fine from the export WMS url provided in warper: http://worldmap.harvard.edu/maps/5764.  The map itself in warper h

[2014-10-20 20:39] waynegraham commented on #330
@mkane2 I believe this has been merged in to the develop branch; could you give that one a try?

[2014-10-20 20:46] gusunavarro commented on #330
when  I have these problem I use these version
 cd path/to/omeka/plugins
$ wget https://github.com/scholarslab/Neatline/archive/bug/png8.zip
$ unzip png8.zip
$ mv Neatline /tmp && mv Neatline-bug-png8 Neatline

[2014-10-20 21:54] mkane2 commented on #330
@waynegraham and @gusunavarro thanks, but still no luck with either the develop branch and this branch.  I'm using Stamen Toner and OpenStreetMap; the record that the WMS is in shows up, but the rectified map does not.

Currently I've got the develop branch up, with WMS Address: http://warp.worldmap.harvard.edu/maps/wms/3744 WMS Layers: image

![screen shot 2014-10-20 at 5 48 26 pm](https://cloud.

[2014-10-20 21:56] mkane2 commented on #330
"Sanborn test" in the screenshot as an overlay is the record with the map that's not showing up, fwiw

[2014-10-20 22:44] mkane2 commented on #330
I've gotten it working, using the develop branch, but using a different WMS Address.  Instead of the "WMS base URL" http://warp.worldmap.harvard.edu/maps/wms/3744, I used the "Tiles base URL" http://warp.worldmap.harvard.edu/maps/tile/3744/z/x/y.png in MapWarper's Export tab
![screen shot 2014-10-20 at 6 41 35 pm](https://cloud.githubusercontent.com/assets/9325924/4710494/7b75dc6c-58aa-11e4-8bd3-9

[2014-10-21 13:28] waynegraham commented on #330
@davidmcclure did your `bug/png8` branch get merged in to develop?

[2014-11-13 11:56] tamielbr commented on #272
No updates on this possibility? Thanks.

[2014-11-18 19:29] davidmcclure commented on #272
Hey @tamielbr, this would definitely be possible. It's probably not something that we'd want to include in the core plugin, since it's a pretty specific feature that wouldn't be necessary in many cases. Probably the best place to add this kind of functionality would be a separate sub-plugin for Neatline (like to the Text or Waypoints extensions) or a custom exhibit theme.

I bet this could be done

[2014-11-20 17:21] tamielbr commented on #272
Thanks - We're using waypoints now and it might be a way to go. It would be wonderful to allow for a search through the data made visible through Neatline while navigating the map. I might be able to get some people working on this, would you mind giving me some specific pointers on how to begin?

[2014-12-02 17:19] lindsaytday commented on #330
Hi,

I read through the forum here and on the omeka forum. However, I am still having issues with using georectified maps from WorldMap warper in Neatline. I have figured out that the georectified map I'm using works in Neatline version 2.2.0. However, I have the latest version of Neatline, 2.3.0, and it does not work in my Neatline exhibit. How can I make a change in the latest version? If not, I

[2014-12-02 19:03] jeremyboggs opened #345 "Make labels stay visible for timeline items with longer spans of time"
If you add an item to a timeline that has a span of time longer than what's visible on the timeline, and scroll past the beginning of that item, the label is no longer visible, but the line for that item is still on the timeline. Basically, it means people can see that item on the timeline but not know what it is, without scrolling all the way back to the beginning or by clicking on the item. So,

[2014-12-04 15:19] tamielbr commented on #296
FIY, we've moved this to a new place.
http://dados.educacaoaberta.org/map_systems.html

[2014-12-06 18:45] davidmcclure commented on #272
Hey @tamielbr, sorry for the slow response, I've been traveling. I would structure this as a sub-plugin for Neatline - an Omeka plugin that makes use of the Neatline hooks and filters to add functionality. I'd use the Waypoints plugin as a template, since it's pretty structurally similar to what you'll want to do:

https://github.com/scholarslab/nl-widget-Waypoints

In broad strokes, you'd need to

[2014-12-10 15:00] tamielbr commented on #272
Thanks! I'm studying the structure of the Omeka plugins and getting some help. I'll keep you posted, it might be slow, but I'm trying to get a hang of this. @kalimar

[2014-12-18 20:21] kalimar commented on #272
:+1:

[2014-12-29 14:38] tarsierspectral opened #347 "Error saving item"
When I link Omeka item to Neatline record, which only appears on Simile timeline and not on the map itself, I get an error stating "there was an error - the record was not saved". How do I resolve that issue? The moment I drop a random point on the map for that record everything is fine but I don't want that record showing on the map just on the timeline.

[2015-01-02 06:54] davidmcclure commented on #347
Hey @tarsierspectral - Hm, I can't replicate this. What are the exact steps that you're taking? I did this:
1. Created a new exhibit with SIMILE enabled.
2. Created a record, activated is on the timeline, and set a start date.
3. Linked the item with an Omeka item.
4. Clicked "Save."

And the record saved without problems. I wonder if it could be some kind of non-standard data elsewhere on the rec

[2015-01-02 12:18] tarsierspectral commented on #347
Hi David,

Neatline version 2.3.0
Neatline Simile version 2.0.2
Not sure what non-standard data I could have on the record.  The record just has start and end dates, they are -005000 for start date and -003000 for end date.  If I don't link to Omeka item then the record saves fine.  When I link it to Omeka item I get an error.  Or if I link to Omeka item and drop a point on the map (by going to th

[2015-01-02 16:07] davidmcclure commented on #347
@tarsierspectral - After you get the error, open up the developer tools in Chrome and click on the "Network" tab. You should see a listing in red for the failed request - click on it, and then click on the "Response" tab on the right. What's the output there?

[2015-01-02 21:23] hlj24 opened #348 "Waypoints + Simile Timeline Date Range -- move to start date"
Hi,

I've looked around but haven't been able to find an answer to this question: Is it possible to change Neatline/Waypoints so that when a record is clicked in Waypoints the timeline shows the record's start date rather than to the middle of its range? I'm working with some date ranges that won't fit within the visible timeline even when the interval unit is millennia. Being able to show the sta

[2015-01-02 21:25] hlj24 commented on #348
Oops. Don't want to duplicate #345 .

[2015-01-03 13:58] tarsierspectral commented on #347
Hi @davidmcclure, I have 4 listings in red.  I clicked on each of them and went to the "Response" tab and they all say "Failed to load response data".

[2015-01-05 14:12] waynegraham commented on #348
Closing this as a duplicate of #345

[2015-01-05 14:12] #348 closed, assigned to nobody

[2015-01-05 14:16] hlj24 commented on #348
Ty.

From: Wayne Graham <notifications@github.com<mailto:notifications@github.com>>
Reply-To: scholarslab/Neatline <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, January 5, 2015 at 9:12 AM
To: scholarslab/Neatline <Neatline@noreply.github.com<mailto:Neatline@noreply.github.com>>
Cc: Hannah Jacobs <hannah.jacobs@duke.edu<mailto:hannah.jacobs@duke.edu>>
Subject: Re: [Neatline]

[2015-01-06 23:59] tarsierspectral commented on #347
I just created a new Neatline record and new Omeka item and I am experiencing exactly the same issue.  What else can I try?

[2015-01-12 14:43] oeide opened #349 "Missing documentation"
I read about searching for tags on the documentation page: http://docs.neatline.org/searching-records.html

The section includes the parenthesis: "(for more information about Neatline's tagging system, see the "Working with Tags" guide)"

However, there were no link to the "Working with Tags" guide and I did not find it anywhere in the documentation system.

[2015-01-12 15:54] davidmcclure commented on #349
Hey @oeide - sorry about that! Looks like we folded the tags content into the "Editing Record Groups" section, and forgot to update this text. Until we fix the link, I think this is what you're looking for:

http://docs.neatline.org/style-tab-groups.html

[2015-01-12 16:08] annamichelle opened #350 "Records near the International Date Line"
I'm working on an exhibit in Neatline that highlights the links between different places. One of these links is between the Marshall Islands (in Micronesia, just west of the international date line) and Minnesota. I can only draw a line between these two points if I cross all of the US, Europe, and Asia. I would much rather connect these two points by crossing the Pacific Ocean, but Neatline won't

[2015-01-12 17:33] davidmcclure commented on #330
Hey @lindsaytday,

First of all, I'm so sorry for the slow response! The fix for the WorldMap layers actually hasn't been included in an official release yet - this will work when Neatline 2.3.1 is released. Until then, you can get the fix by deploying the `bug/png8` branch, which includes the fix for the problem:

https://github.com/scholarslab/Neatline/tree/bug/png8

It should work to just click

[2015-01-12 17:48] waynegraham commented on #349
@rondauva is this in the updates you have been working on?

[2015-01-12 18:20] waynegraham commented on #330
@davidmcclure can we merge that bug branch in to the develop branch? Are there any other blocking issues to release 2.3.1?

[2015-01-12 18:25] davidmcclure commented on #330
Yeah, we can just merge that in. I had the thought of making it possible to set a flag in the plugin.ini that would set whether the tiles are requested as `png` / `png8` (since the latter does provide a nice speed boost when the tile server supports it). But that's a nice-to-have, and can be added in the future.

[2015-01-12 19:11] gusunavarro commented on #330
Thanks very much. So in the future welcome the version 2.3.1
Gus

2015-01-12 15:25 GMT-03:00 David McClure notifications@github.com:

[2015-01-13 12:58] oeide commented on #349
@davidmcclure That is correct, thank you!

[2015-01-13 13:07] oeide opened #351 "Searching for tags"
Note: possible link to feature request #294 but this may be a different problem.

I am working on Neatline version 2.2.1.

When I edit a project in "Neatline Editor" I can filter records by typing "tags: <tagname>" in the Search window.

When I go to "Public view" on the same project I can not search for "tags: <tagname>" with a similar result.

Further, when I go to Advanced search there is a fie

[2015-01-13 14:54] rondauva commented on #349
Corrected the document reference in http://docs.neatline.org/searching-records.html. Wondering, though, if we should add links to the documents we're referencing in the documentation pages to make it easier for people to get to where they need to go. Will create a new issue for that and assign it to myself.

[2015-01-13 14:54] #349 closed, assigned to rondauva

[2015-01-13 14:56] rondauva opened #352 "Change references to other documentation from text to links"
In all documents, we refer to other guides, but these are always plain text, not links. To make navigating docs easier for users, these plain text references should be hyperlinks.

[2015-01-14 18:03] davidmcclure commented on #351
Hey @oeide,

Yep, you're right, the issue here is that Neatline's tagging system is separate from Omeka's. This should be more explicitly documented. The reasons for this are mostly historical / technical - Neatline tags need to do some kind of unusual things (we use them at the "hooks" for applying batch style updates with the Neatline stylesheets). But, Omeka 2.x actually has some really nice bu

[2015-01-14 18:05] davidmcclure commented on #347
Hey @tarsierspectral,

Did this ever resolve itself? I still can't replicate the problem. Is this site online, or are you working locally? If it's online, shoot me an email, and maybe I can take a look at the exhibit.

[2015-01-14 18:20] davidmcclure commented on #350
Hey @annamichelle,

I know exactly what you're talking about - I ran into the same problem last year when I tried to make an exhibit about [this photograph](http://upload.wikimedia.org/wikipedia/commons/8/89/STS-116_spacewalk_1.jpg) of a spacewalk over New Zealand, and had to abandon the idea. Frustratingly, this is out of our control in the immediate future - it's actually a bug in OpenLayers 2.x

[2015-01-14 19:06] waynegraham commented on #350
I think anything we do at this point would be a hack, particularly since OL2 hasn't fixed the bug.

[2015-01-14 19:29] tarsierspectral commented on #347
Hey @davidmcclure, no this is still not resolved.  Yes, the site is online.  What's your e-mail?

[2015-01-14 19:59] annamichelle commented on #350
Oh bummer. Thanks @davidmcclure and @waynegraham. I guess I'll just work around it the best I can using default zoom levels for records near the date line and look forward to future updates!

[2015-01-14 20:36] davidmcclure commented on #347
david at dclure dot org.

[2015-01-14 23:25] davidmcclure commented on #347
Hey @tarsierspectral,

Ok, looks like this is a conflict with the Neatline Features plugin. Try this - deactivate Neatline Features, and then try to save the record, and I bet it will work. Are you using Neatline Features? If not, you could just leave it deactivated for the time being, until we fix the problem.

@erochest, here's the error:

[code]

[2015-01-14 23:49] tarsierspectral commented on #347
Hi @davidmcclure, I deactivated Neatline Features and it is saving now.  Thank you!

[2015-02-10 21:38] waynegraham opened #353 "Upgrade has wrong point data"
In an upgrade from 1.x, the KML geometries are getting converted to engineering decimals for some reason.

The original:

[code]

After upgrade:

[code]

Need to figure out why https://github.com/scholarslab/Neatline/tree/master/lib/geoPHP is converting these numbers rather than just converting from KML to WKT (as well as fix these geometries in the database).

[2015-02-11 15:42] waynegraham commented on #353
More weirdness which is leading me away from this being a bug in the software, but still an issue.

On a machine this works on, if you select the geometry, you get the correct points:

[code]

However, on the server, you get out of bounds points:

[code]

[2015-02-11 16:27] waynegraham commented on #353
I'm relatively positive this is an issue between versions of mysql. The production server was running 5.1.x, and our development machines were on 5.5. Since `coverage` data types are binary, I suspect there was something in the conversion that messed these up.

I wrote a quick script on a machine that had the data points showing to create an update for the production machine.

[code]

I redirected

[2015-02-11 16:27] #353 closed, assigned to nobody

[2015-02-19 14:50] waynegraham commented on #347
Closing this issue; this is a side effect of https://github.com/scholarslab/NeatlineFeatures/issues/81

[2015-02-19 14:50] #347 closed, assigned to nobody

[2015-02-19 16:04] #296 closed, assigned to nobody

[2015-03-04 16:24] #293 closed, assigned to nobody

[2015-03-05 16:33] waynegraham commented on #330
This is patched in 2.4.0 merged in to master as of a8fd43f8bbdee822fa35358dae252223c8796bdb

[2015-03-05 16:33] #330 closed, assigned to nobody

[2015-03-12 20:07] aliasonline opened #354 "Can't link Item to Omeka (only with certain items)"
I'm using Omeka 2.2.2 and Neatline 2.4 (with no other neatline plugins installed).

I have a very strange error with Neatline (error also occurred with v2.3).
Whenever I try to link a record to an Omeka item, I get an error message after 10 seconds or so: "There was an error - the record was not saved"

The error seems to occur only with Omeka items that have attached files (files have to visible)

[2015-03-14 14:34] waynegraham commented on #354
Thanks for letting us know about this @aliasonline. We'll take a look and get this resolved.

[2015-03-16 18:45] waynegraham commented on #322
@erochest @csbailey5t was this implemented in b718cfe5dc7ca1622cd77865d9c55d26a24cbd9f?

[2015-03-16 18:54] erochest commented on #354
Hi @aliasonline , Sorry that Neatline is giving you trouble. Could you tell me what other plugins you have installed? That might help us track down exactly what's going on here.

Thanks

[2015-03-16 19:00] aliasonline commented on #354
Here are other installed plugins:

Collection Tree Version 2.0.1
CSV Import Version 2.0.2
Dropbox Version 0.7.2
Dublin Core Extended Version 2.0.1
Exhibit Builder Version 3.1.1
Geolocation Version 2.2.1
Item Order Version 2.0.1
Search By Metadata Version 1.2
Simple Pages Version 3.0.1
Simple Vocab Version 2.0.1

[2015-03-16 19:03] csbailey5t commented on #322
@waynegraham The Neatline core piece is implemented as of 14e20ec2c823d859b26509f8b0436ec320cf9817. It still depends on the develop branch of NeatlineText however.

[2015-03-16 19:15] waynegraham commented on #322
There's one open ticket on the text widget (https://github.com/scholarslab/nl-widget-Text/issues); let's close that and try to cut a release and close this ticket out.

[2015-03-16 19:50] erochest commented on #354
Thanks. I'll check these out.

[2015-03-17 14:06] astrohm opened #355 "Simile timeline not responding to "hard link" URLs"
In the release documentation for Neatline 2.3, there's mention of a new "hard link" capability. I've had success linking to a particular record in a Neatline exhibit, but I'm not seeing the Simile timeline scrolling, as the Scholar's Lab release announcement (http://scholarslab.org/announcements/neatline-2-3/) indicates it should.

For example, if I have a record that has a set of after/before dat

[2015-03-17 16:55] erochest commented on #354
I'm working through these plugins, but it would also be helpful if we could get more information about your error. There are two things you could do:
1. If you have access to the server, you can look through the server log to see if there's a PHP error listed there.
2. If you're using Chrome or Firefox, open the JavaScript console (in Chrome, that's menu View > Developer > JavaScript Console; in F

[2015-03-17 19:06] waynegraham commented on #355
Could we get a list of plugins that you have enabled also? We've seen some odd conflicts recently...

[2015-03-17 19:47] aliasonline commented on #354
I don't have access to the server but I ran tests using JavaScript Console in Chrome.

Here is the Network log for successful save:
![successfully-saved](https://cloud.githubusercontent.com/assets/176336/6696064/bbb66cf2-ccbc-11e4-9d83-5d7301fb7d8e.png)

Here is the Network log for UNsuccessful save:
![error-saving](https://cloud.githubusercontent.com/assets/176336/6696082/e796950e-ccbc-11e4-8647-

[2015-03-17 20:15] astrohm commented on #355
Sure --

Dublin Core Extended
Neatline
Neatline - Similie
Neatline - Waypoints
Simple Pages

We've got a few other plugins installed but not activated (Clean URL, Exhibit Builder, COins)

[2015-03-17 20:33] davidmcclure commented on #354
Hey @aliasonline,

Does everything seem to work correctly up until you hit the save button? For example, when you click on the Omeka item in the drop down select, does the Dublin Core load into the blue preview box?

Also, let's try this - when you hit the error, click on the listing in the Network tab for the failed request, scroll down to the "Request Payload" section in the "Header" tab, and pa

[2015-03-17 21:00] davidmcclure commented on #355
Yep, I'm seeing this on my local machine. I think this is what's happening:
- Neatline starts up, reads the record id in the URL fragment, loads the record, and fires the `select` event with a Backbone model for the record.
- SIMILE waits until _after_ the main Neatline application is running to start (see [here](https://github.com/scholarslab/nl-widget-Simile/blob/master/views/shared/javascripts/

[2015-03-19 17:50] NeilHanlon opened #356 "Neatline base layer does not load for local links, but will load external URLs"
I'm having a weird issue on one of my Omeka installations that I am 100% unable to replicate in any of my other four or so environments. These are all on different VMs, but the configuration is the same on all of them for Apache, PHP, etc. I even spun a new VM and checked but the issue does not occur.

When I take the URL of an item I've uploaded, and put it into the "Image Layer" option in the Ne

[2015-03-19 21:00] waynegraham commented on #356
First, this is the best issue I've ever seen...

The only thing I can think of here is a routing issue with the VMs. Is the URL accessible from other machines? Is the image URL something you can share here? If not, I'll shoot you my email address...

[2015-03-20 00:06] NeilHanlon commented on #356
I'm glad it's a good issue? haha

Unfortunately I can't give out the URL publicly, but if you send me your email address I can tell you there--or you can just email me directly. It's in my github profile.

[2015-03-20 16:48] aliasonline commented on #354
Yes, the Dublin Core loads into the blue preview box. Here is the link to the parameters: https://gist.github.com/aliasonline/f185c916a5f370242e83

FYI. I tried with a newly created item that only has minimum information (ie: title) but that one didn't work either.

[2015-03-20 17:23] buck-work opened #357 "Tag multiple records in Neatline simultaneously / Batch Tag records"
Is there a way to tag multiple neatline records at once?

Would like to be able to select multiple records, and add the same tag to each of them, rather than drilling down into the style tab of each individual record to add a tab.

[2015-03-20 17:49] erochest commented on #357
Sorry, Fivelfivel, there really isn't any way to do that currently. I'll leave this issue, open, though, and mark it as a feature request.

[2015-03-30 15:02] lindsaytday commented on #330
Hi, I'm just wondering if anyone has tried to use the David Rumsey georeferencer for georectifying maps and layering them in Neatline? The georeferencer is awesome, but I don't see a way to get the maps into Neatline.

Thank you!

[2015-03-30 17:55] aliasonline commented on #354
I was wondering about the status of the issue. Any updates, please?

[2015-03-30 19:31] erochest commented on #354
I haven't been able to reproduce this yet, and unfortunately I've gotten pulled off onto some other things. I'll try to free up some more time this week to dig into it further.

[2015-04-08 20:53] erochest commented on #354
I'm still unable to reproduce this. So let me ask a few more questions.

Do you know anything about how your server is set up? We've had issues with mod_security before, and disabling that has worked for some people.

[2015-04-10 04:15] davidmcclure commented on #354
Hey @aliasonline,

Ok, I just pushed up a change that fixes the issue that I think might be responsible for this problem. I'm not sure, since I can't replicate the problem directly, but this is my best guess.

I know you said that you don't have access to the server, but is there any way you could get someone who does to install the [bug/item-serialization](https://github.com/scholarslab/Neatline/

[2015-04-10 13:27] aliasonline commented on #354
I can FTP to the server. Which files need to be updated?

[2015-04-10 21:55] davidmcclure commented on #354
You should just need to update the [neatline-editor.js](https://github.com/scholarslab/Neatline/blob/bug/item-serialization/views/shared/javascripts/dist/production/neatline-editor.js) file:

`views/shared/javascripts/dist/production/neatline-editor.js`

[2015-04-12 23:56] davidmcclure opened #358 "When loading WMS layers, don't require the "Layers" field"
Right now, when Neatline looks at a record tries to decide whether it has a WMS layer that needs to be loaded, we check to see if both `wms_address` and `wms_layers` are defined - and, if so, we try to pull in the layer, passing the value of `wms_layers` to the `layers` WMS parameter.

But, it looks like some WMS services - including Harvard's MapWarper - are configured so that the layer name is p

[2015-04-13 13:38] waynegraham commented on #358
Related to #289. I've spoken to folks at Harvard and NYPL (as well as Tuft's portal) and they're amenable to a pull request with salient info on their side for use in Neatline. I have spoken with David Rumsey, but I suspect he'd also be agreeable, but it's more talking with the Pietr from Kloken.

[2015-04-13 20:07] aliasonline commented on #354
Thank you, David. It's working now!

[2015-04-13 21:42] davidmcclure commented on #354
Great - we'll include the fix in the next release.

[2015-04-13 21:42] #354 closed, assigned to erochest

[2015-04-14 12:35] waynegraham commented on #354
In d9eb375ce2020b82a0f1be6993dbf929a7aae091

[2015-04-14 12:37] waynegraham commented on #354
@davidmcclure Is this merged in to the develop branch?

[2015-04-14 17:43] davidmcclure commented on #354
Just merged it.

[2015-04-17 12:58] HeatherEason opened #359 "missing information"
I'm experiencing a serious glitch. When the colored circles are clicked on, an "item" from Omeka should appear, complete with metadata and a photo. Currently, only the title of the item appears. I've tried opening the project on different devices and in different browsers. I sincerely hope you can help me resolve this today; I am presenting at a conference tomorrow.

My project can be reached with

[2015-04-17 23:54] erochest commented on #359
I think that Ronda handled this in the Neatline email listserv, so I'm closing it.

[2015-04-17 23:54] #359 closed, assigned to nobody

[2015-04-21 16:08] lrphoto4 opened #360 "Error editing entries/default map zoom"
I can create new records in Neatline, but once I've saved them once, any edits I make cannot be saved.
Also, the map defaults to somewhere near Africa, I have tried setting the default to the location of my map in the Styles tab, but that will not save at all.
Several people have suggested permissions issues?

[2015-04-22 15:01] erochest commented on #360
This looks very similar to [Error editing records and setting default zoom in Neatline](http://omeka.org/forums/topic/error-editing-records-and-setting-default-zoom-in-neatline). Would that be of any help.

If not, we have also had issues when servers are running [ModSecurity](https://www.modsecurity.org/). The post ['Forbidden' error when trying to add an item](http://omeka.org/forums/topic/forbi

[2015-04-22 15:22] davidmcclure commented on #360
Yeah, if the error just shows up when saving existing records, that does sound like the PUT problem. Maybe we should just use POST for everything, to avoid this?

[2015-04-22 16:38] lrphoto4 commented on #360
Thanks for the comments, it is working now!

[2015-04-22 16:40] lrphoto4 commented on #360
erochest - that looks similar because that is also me

[2015-04-22 19:42] erochest commented on #360
I thought it might be, but I wasn't sure, since your user names were different.

Glad you got it worked out.

[2015-04-22 19:42] #360 closed, assigned to nobody

[2015-05-14 18:38] erochest commented on #355
Fixed this in a61cc0de2aac3aa6bbd7bd5178c3031b01b9b096 and scholarslab/nl-widget-Simile@1eff7c11b7f79ab531c8c7b012ff7696d3c026ba. Should be able to release next, assuming I can get the tests working.

[2015-05-19 17:00] sgbalogh opened #361 "Server-side filtering of vector points by tag"
Hi all,

I've been working on a project with Neatline/Omeka that involves faceting Neatline records based on tag. David McClure has very graciously helped me out with issues regarding interaction with the Neatline API to do this in-browser, but he pointed out to me that the amount of vectors that I would like to have on my map (at the end of this project, it might be approaching 6 - 8k single poin

[2015-05-19 19:05] erochest commented on #361
Thanks for the bug report, @sgbalogh ! I'll go ahead and see what I can do with this.

But in the meantime, to add a bit more context, here's the pertinent part of the email chain from the Neatline Collab mailing list:

[2015-06-10 16:17] hlj24 opened #362 "Geotiff of 3D model "moves" when overlayed on Google Satellite"
Hi,
One of my students is experiencing an interesting problem. She exported a .tiff of a 3D model (as viewed from above) from SketchUp, georectified it in QGIS, and added it as a layer to a Neatline project. She is using Google Satellite as her base map. When she moves around the map or zooms in and out, the geotiff appears to move--as if it is elevated above the map. Her model was built on the gr

[2015-06-11 20:57] erochest commented on #362
Hi,

We've seen something like this a few times, but we haven't been able to dig into it enough to figure out what's causing it exactly. We _think_ it might be because of how computers handle floating point numbers (decimals), such as are used in coordinates. As the numbers are rounded to the level of precision, errors can be introduced which might make the images appear to shift slightly.

Like I

[2015-06-21 02:48] mjvo opened #363 "Google Map Tiles Don't Load"
Have an issue with Google Map tiles not displaying on the initial load of an exhibit when a Google Map (of any type) is chosen as default base layer.

If I use the map controls to zoom in or out they appear, however.

Initial load:
![initialload](https://cloud.githubusercontent.com/assets/607467/8270145/24b5370c-179e-11e5-91db-a4999dd57c54.png)

After Toggling Zoom:
![afterzoom](https://cloud.gith

[2015-06-22 14:27] waynegraham commented on #363
This one is a bit on the crazy side. I can confirm this (kind of). With NLText enabled, when you go to any of the views, the from Google appears not to load. However, if you wait for about a minute, the request does actually (finally) load the map. On my machine, it's consistent around 1.2 - 1.3 minutes.

The only red in the console is on the record extent in the neatline-editor when it cancels th

[2015-06-22 16:48] davidmcclure commented on #362
Hey @hannahlj007,

Does this just happen when the map is zoomed very far in, to the highest 1-2 levels? Or does it happen regardless of the zoom level?

If it does seem to be tied to the zoom level, then the fix might be easy - I think Neatline is requesting more zoom levels than the Google satellite API will provide, which causes OpenLayers to shift the overlay without being able to pull in highe

[2015-06-22 17:12] davidmcclure commented on #363
Looks like Google changed the API in a way that breaks OpenLayers 2:

https://github.com/openlayers/openlayers/issues/1450

For the time being, sounds like we could just peg the Google API version in Neatline? ([Here](https://github.com/scholarslab/Neatline/blob/a8fd43f8bbdee822fa35358dae252223c8796bdb/helpers/Assets.php#L169).)

[2015-06-22 17:31] erochest commented on #363
Sounds good. I should be able to get to this later this afternoon.

[2015-06-22 17:39] hlj24 commented on #362
Hi David,

It was happening at the highest zoom levels. The student later removed the 3D images from her map, so I'm not able to see if changing zoom levels helps. I'll keep this in mind for the next project, though, and will see if limiting the highest zoom levels helps.

Thank you!

From: David McClure <notifications@github.com<mailto:notifications@github.com>>
Reply-To: scholarslab/Neatline <re

[2015-06-22 17:46] davidmcclure commented on #362
Hey @hannahlj007,

Hmm, sounds like it's something else, then. Is the exhibit available online in a place I could look at it, by any chance?

Since this is specific to the Google layers, I wonder if this is related to [this issue](https://github.com/scholarslab/Neatline/issues/363#issuecomment-114191964), which appears to be caused by a change in the Google API?

[2015-06-22 19:05] hlj24 commented on #362
Hi David,

I've done a quick test exhibit for you to take a look at: http://dukewired.net/hj24/omeka23/neatline/fullscreen/3d-models-in-neatline#records/5. I notice two things:
1.  The projection changes at a certain zoom level in Google Satellite (this is the biggest problem). We're interested in using Satellite, though, because it's one of the few open source base maps that doesn't have labels.

[2015-06-22 21:42] davidmcclure commented on #362
Ah, yes, looks like we're hitting two separate problems. The first, and I think the bigger issue, is that the Google Satellite API does, indeed, switch to a "45 degree" tile set when you zoom below a certain point, which messes up the alignment of the overlays. Google does this automatically, but, @erochest, I just noticed that it looks like OpenLayers exposes an option to suppress this:

http://d

[2015-06-23 14:04] waynegraham opened #364 "Phase out Google Base Maps"
We've been getting a few more bugs due to the Google Maps API lately (#362 and #363 specifically). We know we need to make a migration to a new platform (either Leaflet or OpenLayers 3), and one of the drawbacks to moving to OpenLayers 3 is the lack of support of Google layers (see #315). I want to start a conversation about the pros and cons of deprecating the Google base layers, what their repla

[2015-06-24 14:24] astrohm commented on #355
I got curious and attempted to make the changes in a61cc0d to app.init.js and events.init.js, but don't see any change in functionality. I assume the tests directory in the Simile commit is a dev-only thing, since I don't see it in my installation of Simile?

[2015-06-24 14:39] erochest commented on #355
Right. We have a set of tests under that directory that will automatically test various parts of our code. We can run the tests and quickly see whether something's broken. The system's not perfect, but it helps a lot.

[2015-06-24 15:14] astrohm commented on #355
That's what I figured. So to enable the proper hard-linking functionality on my site, all I should need to do is make the changes in a61cc0d?

[2015-06-25 18:17] erochest commented on #362
Fixed as of 69955d1fd3a60ad94329a680e369cdec5f38df7b.

[2015-06-25 18:17] #362 closed, assigned to nobody

[2015-06-25 19:10] #363 closed, assigned to nobody

[2015-06-25 19:33] erochest commented on #355
Not quite. Those files get compiled into another file. That's the one that will need to change. You'll also need to make the changes at nl-widget-Simile@ddfa76bb6c8421dbf81c76cbc6ebeaebffb60a94, including in the compiled files.

But it will be easier to just upgrade to the latest version of both of these plugins. I've just uploaded to the Omeka plugin directory [Neatline 2.4.1](http://omeka.org/ad

[2015-06-25 19:53] astrohm commented on #355
Great, thanks!

[2015-06-26 13:20] erochest commented on #355
Verified still not fixed.

[2015-06-28 17:26] waynegraham opened #365 "Link to Community Contributions"
We need an area to link to community contributions in the documentation. Many are blogposts or PDFs. A good way to encourage community documentation and resource sharing.

[2015-07-01 20:09] sgbalogh commented on #361
Hi @erochest –– have you had a chance to take a look into this issue at all? Just trying to get a sense if this will be a possible modification to the API, or if I'll have to look for a different solution. Thanks again!

[2015-07-01 20:25] erochest commented on #361
Hi,
Sorry. I have started looking at it, but I haven't finished it yet. I should get a chance to pick it back up this week or the next. I'll keep you posted.

[2015-07-02 20:02] erochest commented on #361
This should take care of it. I'll try to cut a new release next week.

[2015-07-06 19:29] erochest commented on #355
Just for the record, I cannot reproduce this either locally on your site, @astrohm (because the computer gods hate me). I'm going to leave this open a while longer and check it again. If I still can't reproduce it, I'll close it until there is another sighting.

[2015-07-06 19:51] erochest commented on #322
This appears to have been released in scholarslab/Neatline@2.4.0 (6306c889c3fdff898cbff2f57bf1bbbd9910ad87) and scholarslab/nl-widget-Text@1.1.0 (scholarslab/nl-widget-Text@9558ca7443e81c481b08a249ee90cf36286db359).

Closing.

[2015-07-06 19:51] #322 closed, assigned to nobody

[2015-07-07 15:41] sgbalogh commented on #361
@erochest, thank you so much! On vacation now but will play around with it as soon as I get back. I greatly appreciate it.

[2015-07-07 15:55] erochest commented on #361
Let me know how it goes. The release should be out when you get back.

[2015-07-09 14:40] erochest opened #366 "Item presenter switching broken"
This seems pretty specific. When a record's presenter is open, if you try to select another by clicking on it's entry in a timeline, you break the presenter for all of them. However, if you try to select another by clicking on map features, it works.

[2015-07-09 16:49] astrohm commented on #355
Interestingly, things have been working as expected in the few weeks since I updated Neatline. I'll let you know if the Simile problems resurface.

[2015-07-09 16:52] erochest commented on #355
Great. Keep us posted.

I suspect that there may have been some caching issue with either Apache or PHP that meant you were still serving the old version of Neatline for a while longer. But let's keep an eye on it for a bit.

Thanks

[2015-07-10 14:20] erochest commented on #366
This turns out to be a problem with the Simile widget, so I'm opening up scholarslab/nl-widget-Simile#10.

[2015-07-10 14:20] #366 closed, assigned to erochest

[2015-07-13 17:32] #361 closed, assigned to erochest

[2015-07-20 15:50] erochest commented on #355
I tried to replicate this again, but I'm still unable to. I'm going to go ahead and close this.

But if this is still happening to anyone else, please reopen it.

[2015-07-28 16:43] tamielbr opened #367 "Neatline Timeline plugin use File instead of Item"
I'm trying to plot a timeline where each element is a FILE and not an ITEM. Since they both use DC and have a "date" element, I thought it would pick up, but it doesn't seem to, even if I use the specific item number (#xxx). I'm trying to plot a single item as it changes over time with its pictures, and all of the images are a single Item.

[2015-07-28 20:23] tamielbr opened #368 "Picking a thumbnail for exhibit"
We're trying to add a thumbnail image to neatline exhibits, and I'm wondering how to pick it. I notice in `browse.php` there is a function that picks title and narrative:

[code]

...and i'm wondering if there is something that will pick say, the first image from the first item in the Neatline exhibit.

[2015-07-28 20:35] erochest commented on #368
I don't know that there's a ready way to do this. `nl_getExhibitLink` returns the link for an exhibit, but it doesn't include more than it's title inside the link.

You could perhaps use `nl_getExhibitUrl` to get just the URL for the exhibit, and then retrieve the items for each Neatline record and query them for files.

It should be do-able, although it might be a little messy.

[2015-07-29 14:52] tamielbr commented on #368
Thanks. We had hard-coded `img` links, which is a bad solution, for now we'll work without images, but I'll see if we come up with something creative.

[2015-07-29 15:23] jenbartle opened #369 "Search of Neatline records not functioning"
Hi all!
The Neatline Records search in the admin panel is not functioning in any of our 2.4.x instances of Neatline. [We 'just happen' to have 2.4.0, 2.4.1, and 2.4.2 all installed on different instances on Omeka 2.3.] There is no visible error thrown; the query seems to go through to the URL properly, but no results appear.
The Search function works as expected with other instances with older ver

[2015-07-29 15:58] erochest commented on #369
Thanks for the report. I'll see if I can replicate this.

[2015-07-29 16:35] davidmcclure commented on #369
Hey @jenbartle - Is this just when you search for a specific term, or is the default state broken too, when it (should) just list out all the records?

[2015-07-29 17:35] jenbartle commented on #369
Hiya @davidmcclure! The default state seems fine (if I understand you correctly); all imported records appear properly before a search, but when I search for a known string, all the records will disappear and none are returned.

[2015-08-03 16:44] erochest commented on #368
I'm glad you have this worked out. I can see where this might be a nice feature to have, though, so I'll leave this issue open as a feature request.

[2015-08-03 16:47] erochest commented on #367
Hi @tamielbr

Just to clarify, you are talking about the [Neatline SIMILE](http://omeka.org/add-ons/plugins/neatlinesimile/) plugin, which works inside of Neatline, right? You're _not_ talking about the (unfortunately and confusingly named) [Neatline Time](http://omeka.org/add-ons/plugins/neatlinetime/) plugin, which doesn't require Neatline and creates stand-alone timelines without any maps. Am I

[2015-08-03 16:48] tamielbr commented on #367
Hi @erochest - Actually I am talking about the "confusing" one ;) But I guess the idea would work for both.

[2015-08-03 16:51] erochest commented on #367
Good thing I asked then. :)

We've been talking about needing a new release for that plugin. Unfortunately it will be next week before I can start thinking about it. In the meantime, I'll move this issue over to that repository.

Thanks,

[2015-08-03 16:51] #367 closed, assigned to nobody

[2015-08-03 18:26] tamielbr opened #370 "Image layer on top of existing tiles"
I am trying to add a switchable image layer on top of an existing Neatline exhibit with georeferenced items.

When I add the URL to an image layer, it is visible, but with white space around it - no tiles. I don't see an option to switch say, between the image and a tile layer like OSM even though it is made available in the settings.

Finally, once the image layer is on (URL inserted on the exhib

[2015-08-03 18:38] tamielbr commented on #365
If this is wikified some how, I'd be glad to help (with English and pt_BR).

[2015-08-04 13:54] erochest commented on #370
Hi @tamielbr,

Using a base image in Neatline is really more for things that aren't maps. Base maps plus georeferenced images are better for dealing with maps. We explain the difference in the [Neatline exhibits overview](http://docs.neatline.org/exhibits-overview.html).

From what I can tell, it sounds like you want to use a georeferenced image. We have a series of blog posts talking about how to

[2015-08-04 17:46] tamielbr commented on #370
Thank you - I had seen the documentation, but didn't understand the idea of "georeferenced image" which is clear now.

[2015-08-04 17:46] #370 closed, assigned to nobody

[2015-08-04 20:18] waynegraham commented on #365
Thanks @tamielbr Right now everything is running out of Github Pages. We need to implement an i18n solution to handle this, but it shouldn't be too big of a deal.

@csbailey5t can you look at Jekyll plugins for i18n?

[2015-08-05 14:27] csbailey5t commented on #365
@waynegraham This looks promising: https://github.com/screeninteraction/jekyll-multiple-languages-plugin. Would take a bit of work to mark everything up. Is this worth implementing in the current version, or should we implement when we redo the docs/neatline.org?

[2015-08-17 13:52] erochest opened #371 "Import dates from Omeka"
From @sylviachong on #311:

[2015-08-18 20:28] dlacy commented on #355
I find the functionality described here to work in Simile and Neatline, except in situations where Simile defines a simile_default_date - in which case the timeline always places itself on the default date, ignoring the date referenced in the hard-linked record.

[2015-08-18 20:38] erochest commented on #355
Thanks for the report.

[2015-08-18 21:16] astrohm commented on #355
That's odd -- I don't have a default date set for Simile, but I'm still experiencing this problem again after the last Simile/Neatline updates.

[2015-08-18 23:09] dlacy commented on #355
@astrohm Are you testing against the official releases or the masters?

[2015-08-19 13:59] astrohm commented on #355
I'm testing against the official releases.

[2015-08-19 18:10] dlacy commented on #355
Removing the timeout on the "setCenterDate" invocation solves my problem, though I am uncertain of further repercussions in doing so.

https://github.com/scholarslab/nl-widget-Simile/blob/master/views/shared/javascripts/public/simile.view.js#L98

[2015-08-19 19:35] erochest commented on #355
Well, I think it will probably now ignore the default date, if you do set one.

Thanks for working it out this far, though. That'll help when I dig into it further.

[2015-08-19 19:41] dlacy commented on #355
I believe it now works as expected. For clarity, I only removed the timeout, not the call to:

_this.setCenterDate(date);

[2015-08-19 19:46] erochest commented on #355
The timeout is there because of issues loading. When you have the date set on an item, it won't scroll all the way to the date without it. You can see the commit at https://github.com/scholarslab/nl-widget-Simile/commit/7485b9af8a41d0f1400aa94b7c0b4560631ebd31 .

[2015-08-24 20:10] djakacki commented on #369
Hello @davidmcclure. A faculty member and I are having the same problem. We're running Neatline 2.2.4 and Omeka 2.1.4 (we just tried to update Omeka to 2.3 but ran into some formatting problems so are trying to get that sorted.)  Here is the process as I replicate it:
1) Create New Neatline exhibit, using handdrawn map as baselayer image (not geolocated)
2) Create a New Record. Fill in Slug, Title

[2015-08-24 20:33] erochest commented on #369
Hi @djakacki , thanks for the extra info. I hope to dig into this issue some this week. It's the first week of classes, however, so we'll see how this goes.

[2015-08-31 18:00] davidmcclure commented on #369
Hey @djakacki and @jenbartle,

Sorry for the delay with this. I think I actually just ran into the same problem with a project here at Stanford - I think it's something related to the PHP or Apache configurations. I'll investigate.

[2015-08-31 19:47] erochest commented on #369
@davidmcclure , Where I'm at, it appears to have to do with the queries. I haven't figured out if the indexing needs to be changed or if there are other issues with the full-text search.

[2015-08-31 19:48] erochest commented on #369
I'll get more time to look at it this week, too, so I'll keep you posted.

[2015-09-02 02:01] jackhistorynorton opened #372 "Neatline Simile Documentation Clarification."
On the documentation page (http://docs.neatline.org/working-with-the-simile-timeline-widget.html) for Simile, it indicates "The settings that control the timeline's appearance are found in the Plugins tab on the Neatline editor screen." But it doesn't say that to access the Neatline editor screen, one should click on the name of the Neatline exhibit. Many actions in Neatline have verbs to indicate

[2015-09-02 20:26] waynegraham commented on #372
Thanks for this @jackhistorynorton. We can definitely add the sentence to the docs. We've shied away from doing much with the default UI in the main panels that rely on the Omeka admin theme (your public theme doesn't actually get applied to the admin panel), but I think it would be a good idea to have the text change in some manner on hover. Do you think something as subtle as an underlining the

[2015-09-08 17:49] jackhistorynorton commented on #372
Wayne,

I’m teaching with Neatline right now. Despite my best efforts with text and screen shots to direct students to the editor, a couple were still confused. I’m going to do an explainer video to show the link.

On your end, yes, please, an underline link would be great.

Jack

[2015-09-08 19:19] rondauva commented on #372
The documentation has been updated with the recommended addition and the change pushed up to github.

[2015-09-08 19:19] #372 closed, assigned to rondauva

[2015-09-09 02:32] jackhistorynorton commented on #372
Ronda,

Wonderful. Thank you.

Jack

[2015-09-11 16:17] jenbartle commented on #371
Hi-- we're very much interested in the tag and date import features also.
Thanks!

[2015-09-15 15:45] jenbartle opened #373 "Subsequent timeline record "bubbles" fail to load after first sucessful load"
Hi--

In the admin and public views of my Neatline exhibit, the first click of a timeline record successfully loads a record bubble, but all subsequent clicks of other timeline records fail to load the corresponding record bubble. The url is successfully built with the new record#, and the record will load upon ("manually") triggering a reload via the address bar, but the reload is not triggered u

[2015-09-15 15:48] erochest commented on #373
Hi,

Do you have a link to this? Are there any particular items that it's happening or not happening on?

That information would help us track it down.

Feel free to email it to me, if you'd rather.

Thanks,

[2015-10-02 20:30] jenbartle commented on #373
Dear Future: This issue was fixed by the SIMILE 2.0.4 upgrade.
Thanks you guys!

[2015-10-02 20:30] #373 closed, assigned to nobody

[2015-10-02 20:41] erochest commented on #373
You're very welcome!

[2015-10-19 18:31] #369 closed, assigned to nobody

[2015-10-28 19:33] rondauva commented on #365
I've set up a page with some preliminary links from the main documentation page for now.

[2015-11-20 19:13] michalfrankl commented on #371
We are very interested too! +1

Thank you.

[2015-12-01 18:10] hlj24 commented on #364
Hi, I wanted to see if you all have made any decisions/progress on this issue? We're continuing to experience issues with Google Maps working properly in Neatline. Thank you!

[2015-12-04 16:34] djohnstonleddy opened #374 "Neatline Static Image layer not appearing"
Hello,

Omeka v2.3
Neatline v2.5.0

I was hoping build a sample Neatline exhibit based off of a static image layer. However the image editor does not display the image I point to for the base layer (links to image and exhibit below). I've also tried different images and links to images hosted on different sites none of which are working.

Zoom level is only 3, spatial layer is off.

Static Image
h

[2015-12-04 18:43] erochest commented on #374
Thanks for the bug report. I'll see if I can dig into this early next week.

[2015-12-05 17:14] dcsoliday commented on #287
Any update on this? It's been about a year and a half.

I'm trying to do the same thing as Bria. We've got a map with more than one record referring to each location. We're trying to have one Neatline record with the spacial data to be displayed on the map, and that record will have links to the other records.

Any help would be appreciated.

[2015-12-05 18:26] davidmcclure commented on #287
Hey @dcsoliday and @Breeshee,

This was added last year, though looks like we forgot to close the issue. All records now get a distinct, hard-link-able URL. Eg: `www.exhibit-url.org#records/16`. So, if you've got records A and B, and want to link from A -> B, you could just put the link to record B in the "Body" field for record A.

See this exhibit for a demo - http://neatline.dclure.org/neatline

[2015-12-05 18:26] #287 closed, assigned to nobody

[2015-12-05 19:27] dcsoliday commented on #287
Thank you so much for the prompt response, David.

That's what I've been using, but it hasn't been working. The URL changes to
reflect the new record ID, but the bubble doesn't show. ...it now seems
like that might be by design, as I've changed the spacial data for the
record we're linking to and it does actually zoom the map there. Is there a
way to also display the record's bubble when linking t

[2015-12-05 20:40] dcsoliday opened #375 "Displaying the record bubble when hard-linking to it"
Is there a way to have the record's bubble (Title & Body info, etc.) show up on the map when hard-linking to it? Neatline nicely zooms the map to the location of the record. We'd also like it to display its bubble.

Here's the Neatline Labs Hard-Links Demo: http://neatline.dclure.org/neatline/show/record-links-demo

Here's our development site example, a record with two links to other records: htt

[2015-12-05 20:45] davidmcclure commented on #375
Hey @dcsoliday,

This is a bug, which was actually fixed just a few days ago, though we haven't cut an official release with the fix. For now, download the zip archive of the develop branch:

https://github.com/scholarslab/Neatline/archive/develop.zip

Unpack the zip and replace the `plugins/Neatline` folder. Let me know if this fixes it.

-David

[2015-12-05 21:23] dcsoliday commented on #375
Thank you!

I downloaded the zip, uploaded it to the server, expanded Neatline-develop
from it, renamed the Neatline folder to designate it as old, then renamed
the Neatline-develop folder to just Neatline. I then logged back into
Omeka, and went to the Plugins page. It said I had a new version (2.5.0)
and prompted me to upgrade. I clicked the button and now it has Deactivate
and Uninstall buttons

[2015-12-05 22:35] davidmcclure commented on #375
Hey @dcsoliday,

It's working on my machine - try clearing the cache on your browser?

[2015-12-06 02:30] dcsoliday commented on #375
Viola! That's much better!

Thank you so much for your help on the weekend. It's greatly appreciated.

Problem solved.

David

On Sat, Dec 5, 2015 at 5:35 PM, David McClure notifications@github.com
wrote:

[2015-12-11 02:32] sylviachong opened #376 "blank screen in Neatline editor"
Hi! We're running Neatline 2.4.2, and we've been having issues as more students are logging in to work on their exhibits for finals.

Two students have reported that their projects have "vanished." In the list of Neatline exhibits, their exhibits are still there, with the proper number of items there. However, when they click on either the name of the exhibit (to edit it), OR the Public View or Fu

[2015-12-11 18:58] davidmcclure commented on #376
Hey @sylviachong,

This looks like the Google Maps bug - https://github.com/scholarslab/Neatline/issues/363. (Google recently changed their API, which appears to break the mapping library Neatline is using.) As a temporary fix, if you change the "Default Base Layer" setting in the "Exhibit Settings" form to a non-Google layer, the exhibit should work again.

Let me know if this fixes it.

Best,
Da

[2015-12-11 19:33] sylviachong commented on #376
I was hoping the problem was as simple as that, but both exhibits that went blank are using their own custom images as base layers (and don't have any Google layers enabled).

[2015-12-11 19:54] davidmcclure commented on #376
Ah, I see what's going on - I can replicate this by entering in an invalid URL to the "Image Layer" field in "Exhibit Settings." Maybe the images being used in these exhibits changed locations, or went offline?

[2015-12-11 20:18] erochest commented on #376
Hey @davidmcclure ,

Is ImageMagick required to use image base layers? Looking at the data being loaded, it appears that the image is valid, but the data has null for its height and width.

[2015-12-11 21:39] davidmcclure commented on #376
Hey @erochest,

We're using PHP's built-in `getimagesize()`:

https://github.com/scholarslab/Neatline/blob/master/models/NeatlineExhibit.php#L231-L240

Which, from looking around briefly, seems to require that the `allow_url_fopen` and `allow_url_include` flags to be enabled in php.ini.

[2015-12-12 00:16] erochest commented on #376
That would be it, probably. Thanks for finding that. We'll see if that takes care of her problem and add it to the documentation.

Thanks, and have a great weekend,

[2015-12-14 20:37] sylviachong commented on #376
OK, I was able to make the blank exhibit reappear by deleting the non-map static base image and using one of the pre-loaded map layers instead! I will look into what Ronda recommended, which is to check the php setting that controls whether opening images from URLs is allowed on the Binghamton servers.

Thanks for your help on this! Too bad about the image base layer -- my students were starting t

[2015-12-14 20:43] davidmcclure commented on #376
Hey @sylviachong,

Were the static image base layers working before, but then suddenly stopped working? If so, something is weird there, sounds like something other than the PHP configuration issue. Can you send me one of the image urls that the students were using?

Thanks,
David

[2015-12-14 20:51] rondauva commented on #376
Hi @davidmcclure,

I set up a Neatline exhibit on our workshop site using this background image from the URL that Sylvia's students were using. You can see it http://workshop.neatline-uva.org/neatline/fullscreen/testing-for-s-wong. The login and password for the workshop site hasn't changed, if you want to go take a look there, as well.

The URL for the image is http://i67.tinypic.com/33lo50i.jpg.

[2015-12-14 21:31] sylviachong commented on #376
Sorry about that -- I should have saved those URLs but at this point it was more important for my students to get access to their work.

This is what one student said (of the Boat People exhibit): I have attached the image I was using as my background and I got it from this website http://www.historymuseum.ca/cmc/exhibitions/cultur/vietnam/vilea07e.shtml. I uploaded it to tinypic because that was

[2015-12-14 21:43] sylviachong commented on #376
P.S. I also tried the URL http://m-static.flikie.com/ImageData/WallPapers/33829cc9c5a54dd0bad4abd9c4513677.jpg on a completely new exhibit and it broke that exhibit as well. Tried a few other random image URLs and they also break my test exhibit on the Binghamton site. More evidence that the bug is in the static image base layer, and not anything else in the exhibit.

[2015-12-15 18:58] rondauva commented on #376
Hi Sylvia,

Can you give us more information about the image the student tried to upload, please? Were they adding the image to Omeka? What size, in pixels and in MB was the image? Can you send me a copy of this image so that I can try some experiments here, please?

I've just created a Neatline exhibit with the  static.flickie.com URL from above as a background, and it's working fine on Chrome, F

[2015-12-15 19:22] erochest commented on #376
Hi,

Another thing that might help would be to replace the background image in the exhibits that were effected, if the students have their information out. That way we can at least see what data is being sent back and forth on an exhibit that's currently broken.

Thanks,
Eric

[2015-12-15 20:03] erochest commented on #374
Hi @djohnstonleddy ,

Looking into this, it could be an issue with your PHP settings. Can you (or whoever your server admin is) look at the settings for `allow_url_fopen`? This needs to be set on in your system `php.ini` file.

Thanks,

[2015-12-18 22:21] csellerssbu opened #377 "Plug-in that can better integrate GIS data into Neatline"
I'd like to request a plug-in for Neatline/Omeka that can handle data from ArcGIS beyond single map images.   I know there's one for Geoserver, but having a comparable one for ArcGIS shapefiles or other geographically coded data files ArcGIS can generate (address lists for instance) would make things immensely easier for a project I'm involved in.  Perhaps it could work using kml files, which seem

[2015-12-27 22:30] mariclauandre opened #378 "Blank screen in Neatline editor"
Hello
I lost the google map that I was using as a base map for my project. I tried using a map from yahoo (after reading your note about google map issues) and it is not working still. Any suggestions? Thank you and Happy Holidays!!

<img width="864" alt="screen shot 2015-12-27 at 5 14 52 pm" src="https://cloud.githubusercontent.com/assets/8728451/12012358/66ec2648-acbe-11e5-9312-ccd09c6a78fc.png"

[2015-12-28 14:41] rondauva commented on #378
Hello,

Have you tried selecting the Open Street maps base layer that comes packaged with Neatline? Please let us know if that base layer is also not visible.

Would it be possible for you to share the URL of your Neatline instance with us? It's helpful to be able to look at what the browser is doing when the site attempts to load.

Thanks!
Ronda

[2015-12-28 15:27] mariclauandre commented on #378
Hi Ronda!
I have selected the Open Street maps base but still nothing appears on the
site. As you can see, the map now has a lot of data that corresponds to
sites in the map. If I load a map web address, the map does not show and
the data disappears too.

I can't understand what's going on, the map was working perfectly well a
couple of weeks ago (the last time checked).  Here is the URL, and let

[2015-12-30 16:43] rondauva commented on #378
Hello,

Because your Neatline isn’t public, we can’t see anything just going to the URL. Could you make a scholarslab login for us to use for troubleshooting? It would be helpful if you could give us Super user access, as well. We promise to use our powers only for good. :)

Thanks!

## Ronda

Ronda Grizzle
Project Management & Training Specialist
Digital Research & Scholarship / Scholars’ Lab
UVa

[2015-12-30 20:10] mariclauandre commented on #378
Hello!
I made it public. Let me know if you can see it.
Thanks Ronda!

On Wed, Dec 30, 2015 at 11:43 AM, Ronda notifications@github.com wrote:

##

Maria Claudia Andre Ph.D.
Dept of Modern and Classical Languages
Martha Miller Center 220
257 Columbia Ave
Holland MI 49423
616-395-7911
andre@hope.edu

[2016-01-04 15:41] rondauva commented on #378
Hi,

We're back from the New Year break now. Apologies for the delay.
Yes, I can see your exhibit. I'll chat with our developers today about this. It's odd that as soon as I click on one of the waypoints, the base layer loads just fine, but it's not loading when the exhibit opens.

Ronda

[2016-01-04 15:54] mariclauandre commented on #378
Thanks Ronda! I am not sure what's wrong.
I appreciate your effort!!
:)

On Mon, Jan 4, 2016 at 9:41 AM, Ronda notifications@github.com wrote:

##

Maria Claudia Andre Ph.D.
Dept of Modern and Classical Languages
Martha Miller Center 220
257 Columbia Ave
Holland MI 49423
616-395-7911
andre@hope.edu

[2016-01-04 16:01] rondauva commented on #378
Hi mariclauandre,

Turns out the base layer is loading when the exhibit loads, but it's zoomed very far in and centered over lat 0,long 0 off the west coast of Africa.

You can set the default zoom level and focus under the Style tab from the Neatline editor interface by shifting the map to your preferred location, then clicking the Use Current Viewport As Default button.
![exhibitstyletab](https:

[2016-01-04 19:16] mariclauandre commented on #378
Perfect!! Now it works!!
I am soooooo happy!!

I also have a couple of questions... in  the page below  (which is a simple
page) - I'd like to change the font color and the background color of the
page - and is there a way to change font sizes and styles?

and  in the map page (see below)  am I able to change the font color of the
museum listing and if I am able to reduce the space between the dif

[2016-01-05 16:11] rondauva commented on #376
Problem was successfully recreated by disabling the allow_url_fopen and allow_url_include flags in php.ini on all versions of neatline. Dr. Chong has been notified with a request that she have the Binghamton IT admins enable those flags for her omeka installs.

Closing this issue, but can reopen if further information is forthcoming.

[2016-01-05 16:11] #376 closed, assigned to nobody

[2016-01-07 16:06] mikesname opened #379 "Unable to save Neatline item without geometry..."
Using Neatline 2.5.1 with Omeka 2.3.1 on Mysql 5.7.10 and am unable to save a Neatline item unless I have added geometry. My logs show this error:

[code]

The workaround appears to be to draw, e.g. a point on the map, at which point it will save okay. This is however, more of a problem for my users who want to import Neatline items via CSV.

On investigation it appears that Mysql 5.6.27 the expre

[2016-01-07 16:39] erochest commented on #379
Thanks for the report. Hopefully I'll have a chance to look at this issue this afternoon.

[2016-02-01 18:55] davidmcclure opened #381 "CKEditor files not included in 2.5.1 release"
It looks like the CKEditor source files aren't included in the 2.5.1 tag - just the Neatline payloads. Here's what it looked like in 2.5.0:

https://github.com/scholarslab/Neatline/tree/61244ac1fc84aa878600e23ae9d3999db000ee32/views/shared/javascripts/dist/production

And in 2.5.1:

https://github.com/scholarslab/Neatline/tree/c377fb593f486e2c6e66a3a5c8900707a34871c8/views/shared/javascripts/dist/

[2016-02-01 18:59] erochest commented on #381
Thanks for catching this. I'll see if I can cut a new release this afternoon.

[2016-02-01 21:19] erochest commented on #381
Odd. The files made it into the zip archive.

I've re-committed them and reset the 2.5.1 tag, though, so this should take care of the deploy-from-git scenarios.

Fixed in f9b219c3253b84586e0f40f84e68aa24ee1afb1c

[2016-02-01 21:19] #381 closed, assigned to nobody

[2016-02-01 21:19] davidmcclure commented on #381
Weird, thanks Eric!

[2016-02-01 21:22] erochest commented on #381
Sure! No problem

[2016-02-03 14:40] danielebrox opened #382 "Google Hybrid Layer doesn't work (blank map)"
Hello,
we use Omeka 2.2.2 and Neatline 2.3.0.
Since august 2015 we experienced problems with the Google Hybrid layer.
All the exhibits we have done with Google Hybrid as the base map result in blank exhibits.
Sometimes, changing the base maps in Google Satellite and then coming back to Google Hybrid let the issue temporary disappear, till the next time you'll open the exhibit.
Those are few of our

[2016-02-03 14:52] danielebrox commented on #364
Mapbox and Bing could be good choices I think!

[2016-02-03 20:40] erochest commented on #382
Thanks for the bug report. I'm looking into it.

OpenLayers has trouble with Google layers in general, and hopefully in the future we'll have the bandwidth to look at other options. I'll see if I can come up with a work-around in the meantime.

[2016-02-04 00:40] danielebrox commented on #382
Thank you! We are running lot of workshops in schools so a work-around will be very appreciated! Thank you very much!

[2016-02-09 13:59] pbcGIS opened #383 "Tiled Map Service WMTS"
It would be great if Neatline could incorporate maps served via the OGC Web Map Tile Service standard.  These maps can be served up from the Rumsey Collection georeferencer and also (as I understand) can be served as simple files using a php script free from Klokan tech.

Alleviating the need to have access to a WMS would make Neatline much more accessible.

Thanks -- great tool!
--pbc

[2016-02-09 15:00] erochest commented on #383
That's a really interesting idea. We'll look into it.

[2016-02-09 15:46] waynegraham commented on #383
@pbcote Neatline "supports" WMTS (at least as far as OpenLayers 2 does), but there's not a web interface for enabling layers. If you're brave enough, take a look at the json files in https://github.com/waynegraham/neatline_basemaps. You should get something like this:

[code]

[2016-02-11 11:14] danielebrox commented on #382
Update: Upgrading Neatiline to the version 2.5.1 and Omeka to version 2.4 the problem seems to be solved. I'll keep you posted.

[2016-02-11 14:07] erochest commented on #382
Oh, great. I thought I testing upgrading, but maybe I only meant to.

[2016-02-11 14:07] #382 closed, assigned to nobody

[2016-02-12 00:24] pbcGIS commented on #383
Thanks Guys,

I'll see if I can make this work!

[2016-03-10 20:42] milnerm opened #384 "Neatline Maps Removal"
Hello - not sure if this is where you're tracking this kinds of issues. We had a problem with an Omeka install, and while we managed to get it fixed and upgraded, it was clear that Neatline Maps was no longer needed. It didn't uninstall 'cleanly' though, and we're left with a missing plugin, and some tables in the Omeka DB that I'd like to deal with manually, if possible.

From what I can see, I c

[2016-03-10 21:34] erochest commented on #384
HI @milnerm

Yes, if you don't need those tables, you should be able to drop them without any problem. From Omeka's point of view, the main thing that you'll need to delete is the record in omeka_plugins.

[2016-03-10 21:34] #384 closed, assigned to nobody

[2016-03-14 19:30] aherman49 opened #385 "point image not showing"
Hi, I'm using Omeka 2.4 and Neatline 2.5.1 -I'm trying to add a point image to a neatline record and I can't get it to show up. The file address I'm using is http://omeka.bard.edu/files/original/a29031bd8b034ee58a78f2598196c925.png this image comes from the same Omeka instance that the Neatline exhibit is in. I've been able to do this in the past with other similar Omeka images but none are workin

[2016-03-14 20:19] davidmcclure commented on #385
Hey @aherman49,

When you click on that link, does the image come up in the browser? For me, the request times out. That's likely the reason - if the image isn't accessible over the web, Neatline can't pull it into the exhibit. Perhaps something's awry with Apache? Does the rest of the Omeka site work?

But, since it's also not working for other images - any chance the "Point Radius" or "Fill Opac

[2016-03-15 21:54] aherman49 commented on #385
Hi David, thanks for the email.  I can see the image when I click on it, but our Omeka install is behind a firewall. The rest of the site seems to work fine so not sure about an Apache issue.  I tried it again with another random image I found online but still no luck.
I tried setting the point radius to 200, and the fill opacity to 1. Here is the last image I tried:

https://upload.wikimedia.org/

[2016-03-17 21:14] ewilloughby commented on #382
I am experiencing this same issue with Omeka 2.4 and Neatline 2.5.1 on a fresh install and didn't want to make a new issue unless you would like me to.  Hybrid maps nor streetmaps will load unless satellite is viewed first.  This may be an issue with Google Maps API v 3.20 being used with Open Layers version 2.13.1.  Google Maps 3.20 is retired as of Nov 2015 or so.  Found info on this thread on s

[2016-03-18 17:18] ewilloughby opened #386 "Google Hybrid and Roadmap Basemaps Don't Display"
I am experiencing this same issue with Omeka 2.4 and Neatline 2.5.1 on a fresh install.  There was another issue ticket that reported this, but it has been closed and the solution does not work. I am reporting again as hybrid maps nor roadmaps will load unless satellite is viewed first. This may be an issue with Google Maps API v 3.20 being used with Open Layers version 2.13.1. Google Maps 3.20 is

[2016-03-25 14:30] erochest commented on #378
Hi,

Sorry this dropped off my radar. The images don't appear to have gotten attached. Could you re-attach them?

[2016-03-31 16:54] aherman49 commented on #385
Hi again,

So I tried recreating my Neatline exhibit on my Acu-gis/geoserver installation, as this install is not behind a firewall.  This one is running Omeka version 2.3.1 and Neatline 2.4.2.  I made the exhibit public so you can see it: http://bardgeoserver.net/omeka/neatline/show/germantown-1740-and-1980.  I tried making a point image record with the sample png provided in the Neatline instruc

[2016-03-31 17:43] davidmcclure commented on #385
Hey Amy,

Looking at the requests being made by the page, I don't see anything to that image, so it looks like the record isn't even getting displayed on the map?

This is hard to debug from without - if you send me login credentials at dclure at stanford dot edu, I'll go into the admin and look at how it's configured.

-David

[2016-05-09 16:32] #385 closed, assigned to nobody

[2016-05-09 16:33] #375 closed, assigned to nobody

[2016-05-10 18:21] btinker commented on #383
As a work around for this (for local tiles) I used the "neatline_basemaps" method listed above and used gdal (gdal2tiles) to create a tile set for my georeferenced map.  A bash script converted the WMTS tiles that gdal produces to XYZ format so that Neatline will display properly.  What I am hoping for now is a way to make that layer a standard layer and not have it be forced as a "baselayer" so t

[2016-05-11 15:30] jeremyboggs opened #388 "WKT strings in DC:Coverage is imported but not saved"
If you link a Neatline record to an Omeka item with a WKT string in DC:Coverage, Neatline successfully fills out its own Coverage field with that string, and the geometries appear on the map. But Neatline's Coverage field is wiped after you close the item in the Editor.

On Omeka 2.4 and Neatline 2.5.1.

[2016-05-11 15:35] jeremyboggs commented on #388
User error. Invalid. Closing.

[2016-05-11 16:13] erochest commented on #388
Still weird that it shows up on the map at all. _That_ seems like a bug.

[2016-05-11 16:45] jeremyboggs commented on #388
@erochest That is true. It wasn't saving, I guess, because I inadvertently put a comma between the values in the point string, e.g.:

`
POINT(-8081795.0304667, -4683545.4766366)
`

Once I removed the comma from the string in the DC:Coverage and imported the item again, it saved and persisted. Guessing Neatline is doing some sort of validation on its own Coverage field that doesn't like commas. The

[2016-05-11 17:01] erochest commented on #388
That would be the problem. Neatline on the server uses a different parser than the front end does. We at least need better error messages or something to make this less surprising.

[2016-05-16 14:02] erochest opened #389 "Clicks don't zoom"
The problem is that clicking on an item in the public site ignores the current viewport default option unless the item is also a waypoint.

From @davidmcclure 's explanation in an email:

[2016-05-19 14:49] akthomason opened #390 "Items not linking from Omeka"
When I go to add an item to a record, nothing shows up. I have plenty of items in both collections and exhibits within Omeka, but the linking from Omeka to neatline does not seem to be working. We only have the base neatline installation at the moment. The search box says "searching" and briefly in the lower right hand corner it will say "loading" but nothing ever loads. Neatline seems to be worki

[2016-05-19 14:57] rondauva commented on #390
To facilitate testing, which versions of Omeka and Neatline are you using? Thanks!

[2016-05-19 14:58] akthomason commented on #390
Omeka 2.4 and Neatline 2.5.1 Thanks!

[2016-05-22 16:31] davidmcclure commented on #390
Hey @akthomason,

Are the Omeka items public? If I recall correctly, I think they need to be public in order to show up in the dropdown select in Neatline.

[2016-05-23 15:28] akthomason commented on #390
Yes, they are public, at least the ones I'm trying to link to. Thanks for the tip though! The good news is importing items from within Omeka to Neatline is working, but the import from within a Neatline map is still not working.

[2016-05-23 16:52] davidmcclure commented on #390
Hm ok, worth a shot. Maybe try this - using Chrome, open up the Javascript console (right click on the page, click "Inspect," then switch to the "Console" tab), and then try to link a Neatline record with an item. Do you see an error on the Javascript console?

[2016-06-18 08:36] hlj24 opened #391 "WMS Base Layers Not Appearing"
Hello! It seems that we are not able to embed WMS layers as base layers in Exhibit Settings at the moment. We've tried on multiple servers, each with a different Omeka/Neatline version installed. We're also noticing that Neatline exhibits that used to have WMS base layers are no longer displaying their layers. WMS layers do, however, still appear when embedded in individual Neatline records. Some

[2016-06-18 14:34] waynegraham commented on #391
Hi,

I just took a quick look and I think you're WMS address is wrong. Try these settings:

`http://dukewired.net/geoserver/wms`
`Venice:1729Ughi`

I believe there's a double reference to the Venice WMS namespace (in the WMS URI and the layer name). You should also be able to keep the WMS line `http://dukewired.net/geoserver/Venice/wms` and remove the `Venice:` from the layer name. This is kind of

[2016-06-24 11:05] TLATER opened #392 "Imported geometry data disappears after record is closed"
Whenever I import an omeka item as a resource the corresponding geometry data is correctly imported and displayed on the map after saving - but disappears once I close the resource.

This does not happen if I modify the data. In this case both the omeka and the manual addition will show up.

[2016-06-28 18:20] erochest opened #393 "Drawing tools grabber z-index"
When something is selected, the active tool needs to be temporarily floated to the top so that it can be grabbed easily.

[2016-06-28 18:23] erochest opened #394 "Drawing tools grabber opacity"
The opacity of the grabber point shouldn't match the opacity of the layer, and it should be visible over a number of backgrounds.

[2016-06-28 18:28] erochest opened #395 "Better control over zooming over single-image backgrounds"
Allow more zoom-level positions within the minimum and maximum.

I'm not entirely convinced that this isn't happening. This just needs to be investigated.

[2016-06-28 18:29] erochest opened #396 "Make Neatline items visible via Omeka's search functionality"

[2016-06-28 18:33] erochest opened #397 "Make Neatline exhibit descriptions visible via Omeka's search functionality"

[2016-07-08 06:48] hlj24 commented on #391
Hi Wayne,

Thanks for this. My apologies - I am only just now returning to this issue. Interestingly, our lazy copy-pasting of the WMS address with the WMS namespace in both address and layer used to work, though trying to view exhibits with these base layers now I see that they no longer appear. In the examples I sent, I tried removing the double reference to the namespace. This causes layers emb

[2016-07-08 11:12] waynegraham commented on #391
Hi Hannah,

Can you try changing the basemap to something other than Google? I noticed that the .org version is throwing a `RetiredVersion` warning. We need to investigate a bit further, but this may be due to #386.

Wayne

[2016-07-08 13:26] hlj24 commented on #391
Hi Wayne,

All of the examples have OpenStreetMap listed as their basemap.

All best,

Hannah

From: Wayne Graham <notifications@github.com<mailto:notifications@github.com>>
Reply-To: scholarslab/Neatline <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, July 8, 2016 at 1:12 PM
To: scholarslab/Neatline <Neatline@noreply.github.com<mailto:Neatline@noreply.github.com>>
Cc: wired

[2016-07-19 16:20] jakeparis opened #398 "Google Maps API Error: MissingKeyMapError"
I'm getting this error ([described here](https://developers.google.com/maps/documentation/javascript/error-messages#missing-key-map-error)), even when I don't use a Google map as the base layer.

I don't see anywhere within the Neatline Exhibit Settings to enter a Google Maps API key.

[2016-07-26 15:32] kaitlinnewson commented on #398
Also having this issue, using Omeka 2.4.1 and Neatline 2.5.1.

This is the console log:

Failed to load resource: net::ERR_CONNECTION_REFUSED
(at http://localhost:35729/livereload.js)

Google Maps API warning: NoApiKeys https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys
(at util.js:220)

Google Maps API warning: RetiredVersion https://developers.google.com/maps/

[2016-09-08 13:12] erochest opened #399 "create workarounds for when getimagesize fails"
https://forum.omeka.org/t/neatline-static-image-layer-wont-show/1491/8

[2016-09-22 19:54] hklish01 opened #400 "Mysqli statement execute error: Column 'added' cannot be null"
I have Neatline installed. When I try to create a new exhibit I'm getting the following error message:

Zend_Db_Statement_Mysqli_Exception
Mysqli statement execute error : Column 'added' cannot be null

There was an older Omeka forum message related to this exact error but I'm not sure I understand how to fix it in my installation. http://omeka.org/forums-legacy/topic/neatline-error-11

Any help i

[2016-09-22 19:59] zerocrates commented on #400
Small typo: the URL of the old forum post is http://omeka.org/forums-legacy/topic/neatline-error-1

[2016-11-15 12:17] apjmason commented on #398
Giving this a bump since I encountered the same errors as @kaitlinnewson above.  When I try to turn on a Google map layer with the radio button I get this additional error message.

Uncaught TypeError: Cannot read property 'parentNode' of undefined(…)
- setGMapVisibility @ neatline-public.js:32
- display @ neatline-public.js:17
- setVisibility @ neatline-public.js:16
- setVisibility @ neatline-pub

[2016-11-19 22:01] asmartinez opened #402 "Neatline running super slow..."
anyone have ideas as to what could be going on.  We have about 1000 records on it.

http://zapatavive.colmex.mx/neatline/show/cronologia-de-batallas

asmartinez@colmex.mx

[2016-12-02 13:48] waynegraham opened #403 "MapWarper WMS images blocked by Chrome"
Ran in to an issue with adding a WMS resource to a map. With the Open Street Map base map selected, adding a WMS map with these values produces notices that the content was blocked by the client:

**WMS Address**: http://mapwarper.net/maps/wms/9937
**WMS Layers**: StonewallJacksonCemetery

(the layer name shouldn't actually matter for MapServer requests).

In the console debug, this tile comes bac

[2016-12-02 19:20] erochest commented on #403
Thanks for the warning. I'll see if I can sort through this (and some other tickets here) next week.

[2016-12-15 23:13] eransome opened #404 "Haverford Neatline documentation not appearing"
The link from the Neatline community documentation page to the Haverford library's Neatline-on-Neatline exhibit returns a "not found" message

[2017-01-11 18:42] jamiefolsom opened #1 "Update map component"
Neatline currently uses the OpenLayers library, version 2.0 for map rendering. We will consider updating to the most recent version of that library, as well as switching to another library.

Beyond supporting existing Neatline features, any library to be used in the new map component must support a migration path for existing exhibits. Given that OpenLayers version 3 does not support Google maps,

[2017-01-11 18:43] jamiefolsom opened #2 "Update timeline component"
Neatline currently uses the Simile library for timeline rendering (via NeatlineTime). We will consider updating to the most recent version of that library, as well as switching to another library.

Options include, but are not limited to:

- Timeline.js
- Repertoire Chronos
- Creating a new timeline component, using D3 or other libraries

[2017-01-11 21:50] jamiefolsom opened #3 "Research Leaflet"

[2017-01-11 21:50] jamiefolsom opened #4 "Research Mapbox"

[2017-01-11 21:50] jamiefolsom opened #5 "Research OpenLayers 3"

[2017-01-11 21:50] jamiefolsom opened #6 "Research other options"

[2017-01-11 21:56] jamiefolsom opened #7 "Public map view"

[2017-01-11 22:01] jamiefolsom opened #8 "Test some existing exhibits against scholarslab/neatline#master with Omeka 2.5"
Hey @akstuhl,

Here's something for you to try out -- I've got a number of sample omeka installs, which it would be good to test against the latest version of both Omeka and Neatline (the current master, and/or the two open PR branches). Doesn't have to be on a live server, but just on localhost is fine. If that sounds like a good first task, let me know and I will send the tarballs along.

Thanks

[2017-01-11 22:02] jamiefolsom opened #9 "Document OpenLayers dependencies"

[2017-01-12 13:39] #3 closed

[2017-01-12 13:39] #4 closed

[2017-01-12 13:40] #5 closed

[2017-01-16 15:06] jeremyboggs opened #405 "Make layer sources pluggable"
The [method used to set source directories for layers](https://github.com/scholarslab/Neatline/blob/master/helpers/Layers.php#L11-L25) only looks in the Neatline `layers` folder and in a `neatline/layers` folder created in the active public theme. So, if someone wants to add new layers, they need to add a JSON file to one of these directories.

Might be useful to add some sort of hook here to allo

[2017-01-17 10:01] fboldrin opened #406 "Mixed content"
Hello,
Is there a way to solve the mixed content error with the plugin ?
Our Omeka installation use only https.  The neatline-time plugin doesn't work properly because the browser doesn't allow mixed content.
We have a workaround by disabling the security (allow insecure scripts) within the browser.
![capture d ecran 2017-01-17 a 10 58 59](https://cloud.githubusercontent.com/assets/10865906/220158

[2017-01-18 23:51] DavidGhedini commented on #386
I've tried the updated neatline-public.js and the issue still persists.

[2017-02-03 08:38] yigaler commented on #398
Still having this problem. Any fix for it?

[2017-02-22 18:41] jcmundy opened #407 "Omeka 2.5 error"
I get the following errors when I go to Neatline in Omeka 2.5.  I cannot save changes to Neatline exhibits.

Warning: Declaration of NeatlineRecord::save() should be compatible with Neatline_Row_Expandable::save($throwIfInvalid = false) in /var/www/html/plugins/Neatline/models/NeatlineRecord.php on line 10

Warning: Declaration of NeatlineExhibit::beforeSave() should be compatible with Omeka_Recor

[2017-02-24 18:06] jamiefolsom commented on #6
**Current situation**
- This works (a few bugs notwithstanding): Neatline 2.x + Omeka Classic (2.x) + OpenLayers 2.x + Google Map (and other) Base Layers.

**Givens**
- We need to support existing users and their exhibits in some way.
- Omeka "classic" (2.x) will soon be getting less attention if it's not already.
- Lack of access to Google map base layers from OL3+ will likely not change (see fir

[2017-02-28 08:37] ColeDCrawford commented on #399
I'm experiencing this issue as well (Omeka 2.5, Neatline 2.5.1). Robert's workaround (manually editing the image layer's height / width database values) works for me too, but this isn't an ideal solution. Any time the exhibit settings or the exhibit itself are edited, those values are reset to NULL and Neatline crashes again, so trying to build a Neatline exhibit is basically impossible for my stu

[2017-03-01 19:47] ColeDCrawford commented on #399
This is related to https://github.com/scholarslab/Neatline/issues/376.

I was able to get Neatline image layers working by having my web host (shoutout to Reclaim!) enable allow_url_fopen and allow_url_include flags. It seems as though Omeka or Neatline is treating images on the server as external, thus requiring those settings to be enabled. So potential solutions could be updating Neatline to ha

[2017-03-16 15:10] SteveMarvin opened #10 "Omeka page error"
Entering a bad URL creates an Omeka error (404).

http://neatline-staging.herokuapp.com/neatline/show/london/zorp

OR

http://neatline-staging.herokuapp.com/neatline/show/london/admin

![screen shot 2017-03-16 at 11 09 35 am](https://cloud.githubusercontent.com/assets/18423533/24003138/0e298512-0a39-11e7-8f9a-3dc70b7b96e8.png)

[code]

[2017-03-16 15:28] jamiefolsom commented on #10
Good catch -- I imagine there's a way to specify a nicer 404 page in Omeka. I will have a look.

[2017-03-16 15:32] SteveMarvin opened #11 "Clicking Neatline link from Public View causes 500 error"
If user clicks Neatline link while in the Public View, an internal server error is generated. What's more, any further manipulation of the URL (within the domain) generates the same error, even when legitimate paths are entered.

![screen shot 2017-03-16 at 11 27 55 am](https://cloud.githubusercontent.com/assets/18423533/24004118/dc41aa72-0a3b-11e7-9ade-78743eb289ed.png)

[code]

[2017-03-16 15:45] SteveMarvin opened #12 "Spatial layer delete buttons aren't visible"
The spatial layers one adds appear as "buttons". They should have little "X" icons on each button used to delete that layer, and they **are** there, and can be used to delete the layers, but they aren't visible.

![screen shot 2017-03-16 at 11 41 08 am](https://cloud.githubusercontent.com/assets/18423533/24004935/098f5608-0a3e-11e7-878d-9ac7a4a20e6b.png)

[2017-03-16 15:48] SteveMarvin opened #13 "Google Physical Layer not displaying"
While it has appeared previously, the Google Physical Layer no longer displays.

UPDATE: ~~It appears if more tan one base layer is active, but if Google Physical Layer is the only base layer enabled, it does not appear.~~

UPDATE #2: This is hard to pin down. Now I have both Google Streets and Physical coming up blank, when enabled together.

![screen shot 2017-03-16 at 11 47 28 am](https://cloud

[2017-03-16 15:51] jamiefolsom commented on #13
Shoot, might have broken it with that last deploy. Good catch. Re-deploying with dev assets included.

[2017-03-16 17:06] SteveMarvin commented on #13
This now appears to be working properly. 👍

[2017-03-16 17:06] SteveMarvin commented on #12
They're back! 👍

[2017-03-16 17:13] SteveMarvin opened #14 "Minor: Radio buttons offset in Firefox"
This is a very minor aesthetic issue, but the radio buttons on the layer control are slightly too low in Firefox. The same thing happens in Chrome and Safari, but to a lesser degree.

![screen shot 2017-03-16 at 1 10 14 pm](https://cloud.githubusercontent.com/assets/18423533/24009066/250e81e0-0a4a-11e7-9935-2957a690e67a.png)

[2017-03-21 02:20] jamiefolsom commented on #407
Hi @jcmundy, I believe this is fixed in master, via #410.

[2017-03-23 12:43] jamiefolsom commented on #407
Closing for now. There's a fix in master, which will be included in the next release.

[2017-03-23 12:43] #407 closed, assigned to nobody

[2017-03-23 12:47] jamiefolsom commented on #398
Hi @jakeparis, @adarwinian, @kaitlinnewson and @yigaler, this is fixed in master, via #410, which allows for Neatline to be configured with an Google API key, per @apjmason's suggestion. The fix will be included in the next release, but if you'd like to try this out now, we'd welcome your feedback. Thanks!

[2017-03-23 12:50] jamiefolsom commented on #386
Hi @willo1ej and @DavidGhedini, this is fixed in the master branch, via #410. The next release will include the fix. Thanks for the report!

[2017-03-23 12:50] #386 closed, assigned to nobody

[2017-03-23 14:32] jamiefolsom commented on #404
You are correct, @eransome, it appears that documentation is gone, or has moved -- is this the page had in mind: https://ds-omeka.haverford.edu/annotations/help ?

[2017-03-27 21:26] jamiefolsom commented on #358
Confirmed:

If a correct WMS address and layer, served by mapwarper, are specified **in a neatline record**:

- The neatline editor correctly loads the WMS map layer.
- The public map view correctly loads WMS map layer.

However, when a correct, existing WMS layer is specified **in a neatline exhibit "WMS Layers" field**.

- Neither the public view nor the editor loads any WMS map layer, *not even

[2017-04-01 01:07] jcmundy commented on #407
Thank you, @jamiefolsom I was able to edit the text manually in the meantime.

[2017-04-03 15:28] jeremyboggs commented on #274
Moved to https://github.com/scholarslab/nl-widget-Simile/issues/16.

[2017-04-03 15:28] #274 closed, assigned to nobody

[2017-04-03 15:30] jeremyboggs commented on #256
Moved to https://github.com/scholarslab/nl-widget-Simile/issues/17

[2017-04-03 15:30] #256 closed, assigned to nobody

[2017-04-07 15:52] jamiefolsom commented on #403
Hi @jeremyboggs, I am not able to reproduce this specific issue of tile images being blocked by Chrome. Can you confirm one way or the other? I am using the latest release of Chrome, version 57.0.2987.133 (There remains an issue with WMS maps, served by mapwarper, when they're specified in an exhibit rather than in a record, which I am working on.) Thanks!

[2017-04-07 16:42] timwaters commented on #403
Note that a couple of days ago Mapwarper.net was updated to allow CORS for map requests based on another JS library encountering problems with it, but I don't know if thats related

[2017-04-07 16:44] jamiefolsom commented on #403
@timwaters thanks for the heads up! Could have been related; might also have been caused by an issue in an earlier release of Chrome. I am not seeing the issue now, myself.

[2017-04-19 21:46] mkautz opened #414 "Neatline Map Resizing"
I am working on a digital exhibit, and I want to use Neatline. However, whenever I use the plugin with a map for my exhibit, the exhibit becomes unstable. Anytime someone scrolls over the map the map resizes, often losing the areas that I have marked. Is there anyway to use Neatline in omeka and make the portion of the map selected static, but still able to populate text when certain portions of t

[2017-04-20 19:37] rondauva commented on #414
Hi Mkautz,

I want to be sure that I understand the issue, so let me recap what I think you're saying, and please correct me if I've gotten anything wrong.

You've embedded your Neatline exhibit in a webpage, and as people interact with the page, scrolling over the embedded exhibit, the map zoom changes as they scroll or click the mouse.

Is your exhibit public? Can I visit that page and see what

[2017-05-08 21:28] jgolight commented on #398
I'm still having this issue with the Google Maps API error message--I'm getting the I'm using Omeka 2.5 and Neatline 2.5.1. There's no button to configure Neatline in my installation. Has the fix been deployed yet? Thanks!

[2017-05-09 12:58] jeremyboggs commented on #398
@jgolight This is fixed in the master branch. We'll wrap this up in a 2.5.2 release very soon.

[2017-05-15 19:39] akstuhl commented on #8
Hey @jamiefolsom, sounds perfect! Up and running with a local install now, so I should be able to start swapping those in.
-Andy

[2017-05-15 19:45] jamiefolsom commented on #8
👍

[2017-05-17 13:39] jeremyboggs commented on #404
Closing as fixed in d9a859d92e6a9d75af9ff1e912bef1d86942ecb8.

[2017-05-17 13:39] #404 closed, assigned to nobody

[2017-05-17 14:27] caitmckinney opened #415 "Omeka items not linking to neatline"
Hi everyone,

Sorry if this is outside the scope of github--I'm not a developer but need help. I work at the Canadian Lesbian and Gay Archives and we need to hire a developer on short notice to fix our neatline/Omeka installation (http://digitalcollections.clga.ca/) Our current web developer has said that this problem is beyond the scope of their contract with us and that they don't know how to fi

[2017-05-17 15:31] davidmcclure commented on #415
Hey @caitmckinney,

Sounds like some kind of bug / misconfiguration on the server. Try this - in Chrome, open up the Developer Tools (little 3-vertical-dots icon at top right > More Tools > Developer Tools), and then click on the "Console" tab. Then open up the Neatline exhibit and try to link a record to an item. Do any errors appear in the Console? Also, does this happen for all exhibits, or jus

[2017-05-17 15:39] jamiefolsom commented on #415
Thanks @davidmcclure!

[2017-05-17 15:41] rondauva commented on #415
What @jamiefolsom said! Thanks @davidmcclure!

[2017-05-17 15:45] caitmckinney commented on #415
Thanks @davidmcclure
It's all exhibits. Here is the error I got in the console:
![screen shot 2017-05-17 at 11 43 35 am](https://cloud.githubusercontent.com/assets/28758858/26162975/405c9e1e-3af6-11e7-8ce3-95108efbd569.png)

[2017-05-17 15:47] jamiefolsom commented on #415
Hi @caitmckinney -- both the API version warning, and the missing API key error you're showing are fixed in the most recent commits merged to the master branch. Those fixes will be released within the next couple of weeks if all goes as planned. Whether that's what's causing the trouble you're seeing I'm not sure; your thoughts on that, @davidmcclure?

[2017-05-17 15:50] davidmcclure commented on #415
Yeah, I don't think the Google Maps thing would affect this. @caitmckinney - does the problem show up when you search for Omeka items, or when you try to save the record? Eg, is it that you click the "Search Omeka Items" dropdown, and is just says "Searching" and no items ever appear; or can you select an item, but then it hangs when you save the Neatline record?

[2017-05-17 15:53] caitmckinney commented on #415
@davidmcclure @jamiefolsom

It's the former situation "you click the "Search Omeka Items" dropdown, and is just says "Searching" and no items ever appear"

[2017-05-17 16:00] davidmcclure commented on #415
Ok, sounds like it's something with Omeka's `items/browse` API, which provides the list of items. Let's try this - back in the Developer Tools, click on "Network." Then click on the "Search Omeka items" dropdown. In the Network tab, you should see a new entry that looks like:

`browse?output=omeka-xml&search=&page=1&_=XXX`

Click on that, and then open the "Response" tab in the menu that appears o

[2017-05-17 16:51] caitmckinney commented on #415
@davidmcclure
Here's what it says, not sure if I've captured this the way you need.
![screen shot 2017-05-17 at 12 49 54 pm](https://cloud.githubusercontent.com/assets/28758858/26165850/73f9ab96-3aff-11e7-91e8-9b28669fbd8a.png)

[2017-05-17 17:52] davidmcclure commented on #415
@caitmckinney Can you select everything in the box and paste it in? I wonder if there's something in the item content that's messing up the parsing that Neatline does.

(Be aware that the XML output will include metadata from the items that might not be public on the site - if there's anything that you don't want to have on the open web, shoot me an email at `dclure at stanford dot edu`.)

[2017-05-17 18:23] caitmckinney commented on #415
@davidmcclure This is all the text in the response box.

[CLGA_Omeka&Neatline problem.txt](https://github.com/scholarslab/Neatline/files/1008738/CLGA_Omeka.Neatline.problem.txt)

[2017-05-18 14:24] jamiefolsom commented on #406
Hi @jeremyboggs,

@akstuhl points out that it would appear that this error is due to a hard-coded URI which includes the protocol, located [here](https://github.com/scholarslab/NeatlineTime/blob/e0fbe35c6236147d9cf293f653b1749d37a28c0c/helpers/NeatlineTimeFunctions.php#L72).

I've forked NeatlineTime to Performant, and we'll open a PR from there. Are there other instances of this issue that you kn

[2017-05-18 14:29] jeremyboggs commented on #406
@jamiefolsom I dont' think so. We might look in the [nl-widget-Simile](https://github.com/scholarslab/nl-widget-Simile), but I didn't see anything similar in a cursory glance.

We might also see if @Daniel-KM's [fork of NeatlineTime solves this issue](https://github.com/Daniel-KM/NeatlineTime). Either way, we should move this issue off Neatline, and to NeatlineTime.

[2017-05-18 16:03] Kent-Gerber commented on #415
@caitmckinney,

In the Omeka dashboard and the Neatline Plugin tab do you see that the Omeka items have been imported into the Neatline exhibit?  I had this issue and realized that I needed to enable the PHP-CLI function and point Omeka to it.  We use Reclaim hosting and here is the help article related to fixing this issue - https://community.reclaimhosting.com/t/setting-the-php-cli-path-in-omeka

[2017-05-18 18:55] caitmckinney commented on #415
Thanks @Kent-Gerber . How does one see if the omeka items have been imported? When I import, I receive a "import successful" message, but I don't know how to verify that the items have been imported beyond that. I will ask the person who manages our hosting to try the PHP-CLI function fix--thanks for the suggestion.

[2017-05-18 19:36] Kent-Gerber commented on #415
@caitmckinney,
Here is a screenshot of the Omeka dashboard I am referencing.  I am thinking of looking at the number of items in the Neatline exhibit after you click the "Import Items" option and seeing whether it shows the number of items you expected to import.

![neatline import items on dashboard](https://cloud.githubusercontent.com/assets/7987141/26220196/4b9e47d2-3bd7-11e7-928d-d640d36e055e.

[2017-05-18 19:39] caitmckinney commented on #415
@Kent-Gerber Thanks for the screenshot.

In our exhibit, It only gives a count for the number of neatline items created in the exhibit (map points), not the number of imported Omeka items. Sounds like this could be our problem?

[2017-05-19 13:57] akstuhl opened #15 "Changing map zoom resets state of layer switcher"
Encountered while testing exhibit "arth4591 -> Establishment of Constantinople" on current master branch. If you toggle a map layer on/off and then zoom the map in or out, the toggle is undone and the layer switcher returned to the state in which it was loaded. This does not happen at http://arth4591.neatline-uva.org/neatline/show/establishment-of-constantinople

[2017-05-19 19:09] caitmckinney commented on #415
Resolved! Turns out that the "Bagit" plugin was throwing a lot of exceptions that were affecting neatline. We don't actually use Bagit, so just uninstalled the plugin, and now neatline is working like a dream. Thanks everyone for your support.

[2017-05-19 19:09] #415 closed, assigned to nobody

[2017-05-19 19:40] jamiefolsom commented on #406
@jeremyboggs 👍 thanks!

[2017-06-06 14:31] SteveMarvin opened #16 "London map doesn't load"
Although the project can be entered, and the map can be manipulated as if it is visible (for instance, one can "drag" it around and it will flash a "loading" prompt as if it is redrawing the map), the map cannot be seen.
![screen shot 2017-06-06 at 10 31 23 am](https://cloud.githubusercontent.com/assets/18423533/26834428/50263a78-4aa3-11e7-998c-fe3532eb66f5.png)

[2017-06-08 00:15] akstuhl commented on #406
We were seeing mixed content errors for Neatline assets when loading [Neatline staging](https://neatline-staging.herokuapp.com/) over https (asset URLs were still created using plain http), but this appears to be an Omeka issue rather than Neatline. Per this [forum discussion](https://forum.omeka.org/t/how-to-load-css-and-js-from-https-enabled-admin/892), adding `SetEnv HTTPS "on"` to .htaccess re

[2017-06-12 19:11] jeremyboggs commented on #402
Offhand, @asmartinez, I think the reason its slow is that there are 1000+ records on this exhibit. We'll see if there are ways to optimize Neatline to better handle this number of records for an exhibit.

[2017-06-12 19:16] jeremyboggs commented on #396
Related to #397.

[2017-06-12 19:16] jeremyboggs commented on #397
Related to #396.

[2017-06-12 19:23] jeremyboggs commented on #390
@akthomason Can you provide some more detail about this issue? Are you still running into this issue?

[2017-06-12 19:25] jeremyboggs commented on #389
Close this, until we get more demand—with examples—to justify changing the behavior.

[2017-06-12 19:25] #389 closed, assigned to nobody

[2017-06-12 19:39] jamiefolsom commented on #402
Thanks, @jeremyboggs and @asmartinez,

We will take a look at this. For one thing, it looks like you're loading development assets, as I see that the page is trying to load livereload.js.

As for the quantity of data, I know that the viewport filtering feature of neatline, introduced in version 1.2, was specifically designed to mitigate performance issues related to exhibits with ~10^6 records.

E

[2017-06-13 13:54] akstuhl commented on #400
I'm working on a patch to address this error now. Including notes on the likely problem/solution here for reference.

From linked forum thread:

From GitHub issue referenced in forum thread:

User added `$this->added = date("Y-m-d H:i:s", time());` to the file in question.

[2017-06-14 18:25] jeremyboggs commented on #406
Let's update the documentation to include these suggestions.

[2017-06-14 18:36] jamiefolsom opened #17 "Update i18n"
- [ ] Ping Transifex to see if there are new strings

[2017-06-21 16:21] jamiefolsom commented on #393
Hi @akstuhl, was this closed by the merge of #416?

[2017-06-21 16:22] jamiefolsom commented on #394
@akstuhl closed by #416? Thx.

[2017-06-21 16:23] jamiefolsom commented on #391
Closed by #413

[2017-06-21 16:23] #391 closed, assigned to nobody

[2017-06-21 16:24] jamiefolsom commented on #403
Closed by #413

[2017-06-21 16:24] #403 closed, assigned to nobody

[2017-06-21 16:24] jamiefolsom commented on #358
Closed by #413

[2017-06-21 16:24] #358 closed, assigned to nobody

[2017-06-21 16:25] akstuhl commented on #393
@jamiefolsom Yes, closed by #416.

[2017-06-21 16:25] jamiefolsom commented on #8
Done, thanks @akstuhl!

[2017-06-21 16:25] #8 closed

[2017-06-21 16:28] jamiefolsom commented on #406
@akstuhl do you need access to the documentation repo?

[2017-06-21 16:28] akstuhl commented on #394
@jamiefolsom Yes, closed by #416

[2017-06-21 16:29] akstuhl commented on #406
Thanks @jamiefolsom, I think I do need access.

[2017-06-21 16:33] jamiefolsom commented on #395
@jeremyboggs this might be one to punt on for now, in the interest of getting 2.5.2 released?

[2017-06-21 16:34] jamiefolsom commented on #15
@akstuhl where are we on this one?

[2017-06-21 16:35] jamiefolsom commented on #13
Closed by #413, which is now deployed to staging. Thx, @SteveMarvin!

[2017-06-21 16:35] #13 closed

[2017-06-21 16:36] #12 closed

[2017-06-21 16:36] jamiefolsom commented on #398
Closed by #410.

[2017-06-21 16:36] #398 closed, assigned to nobody

[2017-06-21 16:43] akstuhl commented on #15
@jamiefolsom The issue is actually in https://github.com/scholarslab/nl-widget-Simile, and I've only been able to reproduce it in development environments. Continuing to investigate, but not a blocker for Neatline release.

[2017-06-21 16:50] jamiefolsom commented on #15
OK great, I will remove it from the 2.5.2. milestone. Thanks, @akstuhl!

[2017-06-21 16:51] #393 closed, assigned to jamiefolsom, akstuhl

[2017-06-21 16:51] #394 closed, assigned to jamiefolsom, akstuhl

[2017-06-21 16:53] jamiefolsom commented on #406
@jeremyboggs could @akstuhl have access to https://github.com/scholarslab/neatline-documentation, to get this updated?

[2017-06-21 18:01] jeremyboggs commented on #406
@jamiefolsom Just invited @akstuhl to the Performat team on the SLab github, which would give him (and you) admin on Neatline and the documentation repo.

[2017-06-22 17:52] jeremyboggs commented on #395
👍

[2017-06-22 20:29] jamiefolsom commented on #400
Hi @jeremyboggs -- it sounded from my conversation with @akstuhl about it this morning as though this one was going to take some more time -- OK if we push this one into the next release?

[2017-06-22 20:36] jamiefolsom opened #417 "Test zipped plugin"
Let's test the 2.5.2 zipfile by installing it in Omeka and making an exhibit.

See: https://www.dropbox.com/s/ns61puggu0szygm/Neatline-2.5.2.zip?dl=0

With as many of these as possible:
- [ ] Omeka 2.5
- [ ] Omeka 2.4
- [ ] Omeka 2.3
- [ ] Omeka 2.2
- [ ] Omeka 2.1
- [ ] Omeka 2.0

Omeka releases are here:
http://omeka.org/codex/Version_History

[2017-06-26 15:37] rondauva opened #418 "Exhibit Settings Narrative text box does not appear"
Omeka 2.4 + Neatline 2.5.2
Chrome v. 55.0.2883.95 (64-bit) (Max OSX 10.12.5)

After updating to latest Neatline (2.5.2) on an Omeka 2.4.1 site, the Narrative text box on the Exhibit Settings page flashes briefly on screen (and if screen is refreshed) but disappears and is unavailable for text entry/formatting.

When I look at the developer tools in Chrome, the text area is there, but I can't inter

[2017-06-26 15:44] rondauva commented on #418
Just looked at the javascript console and I'm getting a 404 on the CKEditor URL: http://workshop.neatline-uva.org/plugins/Neatline/views/shared/javascripts/dist/production/ckeditor/skins/moono/editor.css?t=FACH

[2017-06-26 16:14] jeremyboggs commented on #418
Am wondering if this is just a caching issue; we updated the CKEditor skin to `moono-lisa` in this commit: https://github.com/scholarslab/Neatline/commit/6ca158283ba78aa4b5978416f82a76d4bc4307a2#diff-ac816a3f638d183aec54eb28919b26dbL28

[2017-06-26 16:30] rondauva commented on #418
It was just a caching issue! Kudos to @jeremyboggs!

[2017-06-26 16:30] #418 closed, assigned to jamiefolsom, akstuhl

[2017-06-26 19:05] #417 closed, assigned to jeremyboggs, jamiefolsom, amandavisconti, akstuhl

[2017-06-30 16:20] jskirby2 opened #422 "Google Maps missing API key"
I just wanted to create a map of cookies and I can't seem to do that with Google Maps. It's saying it's missing an API key, I've included the picture of the error and the console.  I'm using Neatline version 2.5.1 on the one click install version of Omeka with Reclaim Hosting. Please help.
![wereallystrugglingtoday_neatline_20170615](https://user-images.githubusercontent.com/21368985/27744401-fe2a

[2017-06-30 16:26] rondauva commented on #422
Hi @jskirby2,

This is a known issue. We've fixed it in version 2.5.2, which will be released soon. Until then, you can begin building your exhibit on the Open Street Maps baselayer, if you choose, and then switch to one of the google layers after the new release with the fix is available through Reclaim Hosting.

Regards,
Rodna

[2017-06-30 16:54] jskirby2 commented on #422
Thank you!

[2017-06-30 19:39] rondauva commented on #422
closing issue.

[2017-06-30 19:39] #422 closed, assigned to nobody

[2017-07-06 18:02] jcmundy commented on #295
Is anyone still working on this?  I have a project interested in this feature.

[2017-07-06 18:46] rondauva opened #424 "Zoom ability on Google base layers does not match zoom ability on Google Maps"
Testing for a user today, realized that I could zoom much further in when looking at the Google Street layer on Google Maps than I can when using Google Street as a base layer for a Neatline exhibit.

We've have multiple requests to allow for zoom levels that pick up all available granularity, usually as the result of georectifying an historic or hand drawn map of a city block or a cemetary and th

[2017-07-06 18:47] rondauva opened #425 "Export WKT data from Neatline items"
Multiple requests to allow exporting WKT data from Neatline exhibits.

[2017-07-07 20:59] akstuhl commented on #424
Neatline does set a hard-coded limit for zoom levels on certain layer types; that value could be changed, but reading this issue alongside #295 makes me think it'd be worth adding a couple fields to the exhibit settings to provide a general solution for zoom constraints. PR #310 makes changes along these lines, but may be behind the master branch by far enough at this point that a fresh start woul

[2017-07-11 20:47] akstuhl opened #426 "Save error incorrectly reported if configuration settings prohibit url fopen"
The Neatline backend includes a check for URL settings needed for getImageSize to work (see #399), which logs an error message if the check fails. This error does not prevent a save operation from completing, but affects the HTTP status returned, triggering an error message in the frontend that incorrectly reports that the record was not saved. Especially since #423 adds a workaround for getImageS

[2017-07-14 15:42] rondauva commented on #399
Any chance we could do a 2.5.3 release with this in it? It's a big problem for some folks. Thanks!

[2017-07-18 20:13] akthomason opened #428 "Image Layer Stopped Working after update"
We updated to the latest version of Neatline today. Unfortunately, one of our exhibits uses the Image Layer for a static image for the background. The background image will not load and it only displays the map. This is a major problem as a student was going to present his work in the next week. Please advise! Thanks, Anne

[2017-07-19 15:08] jamiefolsom commented on #428
Hi @akthomason,

Thanks for the report, and sorry you're having trouble!

If you can provide us with a bit more info, we'll have a look.

- Can you provide a link to the exhibit in question?
- Which version of Omeka are you using?
- Do you have other plugins installed?

Thanks!

cc @akstuhl: when you've got some time, would you have a look? Thx!

[2017-07-19 15:30] akstuhl commented on #428
Hi @akthomason, this sounds similar to the problem observed in #399, for which a fix has been tested — we're presently working on getting a release out with that change. If there's a link you can share to the exhibit where this is occurring, it should be possible to determine from the browser console if what you're seeing is indeed the same issue. If so, and if you're able to edit PHP configuratio

[2017-07-19 15:36] akthomason commented on #428
Hi Jamie,

Due to the time sensitive nature, we restored from a backup so it is working now and we only lost a little work. But here is the link:

http://digitalchicago.lakeforest.edu/neatline/show/jane-addams-european-travels

We upgraded from 2.5.1 to 2.5.2 using Omeka version 2.5. The static image link was in the “image layer” field under exhibit settings.

Other plugins:  Contribution,  CSS Ed

[2017-07-19 18:51] jamiefolsom commented on #428
Hi @akthomason, thanks for keeping us posted. When we make a release with a fix, if you've got time to test against your exhibit, we'd be glad to know if it addresses the issue for you.

[2017-07-19 19:23] jamiefolsom commented on #378
Hi, @mariclauandre, I am closing this issue, since the original problem was solved. However, if you are still interested in discussing your additional questions, feel free to reopen this issue.

Also, for non-bug questions, there is a support forum for Omeka and related plugins. Try searching [here](https://forum.omeka.org/search?q=neatline%20category%3A10), and if you don't find an answer, postin

[2017-07-19 19:23] #378 closed, assigned to nobody

[2017-07-19 19:30] jamiefolsom commented on #336
@jeremyboggs and @akstuhl I think this is a good candidate to be closed as "won't fix", since Neatline 2.x will probably not make a change to the version of OpenLayers, which would make it easier to mitigate the confusion caused by sudden change of focus, via animated panning. The default behavior now is a less consistent, but also less confusing UX, for common use case scenarios. Let me know if y

[2017-07-19 19:44] jeremyboggs commented on #336
Agreed!

[2017-07-19 19:46] akstuhl commented on #336
Agreed as well

[2017-07-19 19:46] jamiefolsom commented on #336
Thanks @jeremyboggs and @akstuhl. As discussed above, @koneilluz, this is one which we'll keep in mind for the next major release, but which we won't address in minor or patch releases. Thanks for flagging it!

[2017-07-19 19:46] #336 closed, assigned to nobody

[2017-07-25 15:37] dleisawitz opened #429 "Way to duplicate exhibits or at least import records from one exhibit into another?"
I am looking for a way to make a copy of an exhibit in Neatline.  The reason is that I want to use the map that I have already designed to accompany one text and apply it to another text as a different exhibit.

I've looked all around Neatline and on message boards, and I have not found a way to do this.

Alternatively, it would work if I could simply import records from one exhibit into another.

[2017-07-25 15:42] jamiefolsom commented on #429
Hi @dleisawitz,

This is a good idea, and actually, we have some tickets open to work on this. See #145 (and #252). We're hoping to get this feature into the next release.

I am going to I close this issue as a duplicate, but if you have ideas to add to either of those tickets, please feel free to do so.

Thanks!

Jamie

[2017-07-25 15:42] #429 closed, assigned to nobody

[2017-07-25 16:24] dleisawitz commented on #429
Thank you, Jamie.

- Dan

On Tue, Jul 25, 2017 at 11:51 AM, Jamie Folsom <notifications@github.com>
wrote:

[2017-07-25 16:24] dleisawitz commented on #145
Just voicing my strong support for this idea.  It would be _very_ useful!

[2017-07-25 16:25] dleisawitz commented on #252
Just voicing my strong support for this idea. It would be _very_ useful!

[2017-07-26 19:48] #395 closed, assigned to akstuhl

[2017-07-26 19:48] #399 closed, assigned to jeremyboggs, jamiefolsom, akstuhl

[2017-07-27 14:43] akstuhl opened #430 "Image-layer-only exhibits"
Currently, users must select a spatial layer from a dropdown menu to serve as the base layer for a new exhibit. This means that an image layer can't be the first layer to load when the exhibit is viewed. Per #428, some users want to have exhibits where the image layer is the default view for the map — this may have been unintentionally possible prior to the last release due to an issue preventing

[2017-07-27 23:48] cturk24 commented on #430
Hi--I am also experiencing this problem. I reverted to the previous Neatline version and it still isn't working, though. Any ideas?

[2017-07-28 13:19] akstuhl commented on #430
Hi @cturk24, do you have a public link to the exhibit where you're experiencing this? It'd be helpful to see how the layers are behaving. There's another issue related to image layers and configuration settings that may be relevant to what you're seeing — the thread at https://github.com/scholarslab/Neatline/issues/399 has some solutions you might find useful if that's the case. Thanks!

[2017-07-28 19:11] akstuhl commented on #426
Closed by #423

[2017-07-28 19:11] #426 closed, assigned to akstuhl

[2017-08-03 17:23] #396 closed, assigned to akstuhl

[2017-08-03 17:23] #397 closed, assigned to akstuhl

[2017-08-04 14:50] #145 closed, assigned to akstuhl

[2017-08-15 19:48] arthurian commented on #430
We're experiencing the same problem with v2.5.3 and are reverting back to v2.5.1.  The suggested solutions in #399 didn't work for us.

[2017-08-17 14:51] jamiefolsom commented on #430
Hi @arthurian, thanks for letting us know. Would it be possible to provide a link to the exhibit you're having trouble with?

[2017-08-31 18:58] SteveMarvin opened #434 "Overlay is reimposing itself"
Andy thinks this is a timeline issue, but when one switches from the top overlay...
![screen shot 2017-08-31 at 2 57 15 pm](https://user-images.githubusercontent.com/18423533/29940267-b09aeabe-8e5c-11e7-9f95-f07c351cee65.png)
to the one below it, any movement of the  map or change in zoom causes the overlay to revert to the first.

[2017-08-31 20:29] akstuhl commented on #434
After testing to confirm, this behavior appears to be the same as described in https://github.com/performant-software/Neatline/issues/15, which turned out to be due to overzealous event detection in the NeatlineSimile plugin.

[2017-09-01 13:43] jamiefolsom commented on #434
Thanks @akstuhl and @SteveMarvin -- closing both this and #15 and opening an issue on NeatlineTime.

[2017-09-01 13:43] #434 closed, assigned to nobody

[2017-09-01 13:47] jamiefolsom commented on #15
See https://github.com/scholarslab/nl-widget-Simile/issues/18

[2017-09-01 13:47] #15 closed

[2017-09-08 13:40] jeremyboggs opened #435 "Developer documentation"
We need it. Let's document, with examples and code, all of Neatline's affordances for developers who wish to make widgets or modify Neatline's output in their own themes, including:

- filters
- hooks

[2017-09-08 17:55] rondauva commented on #430
I'm changing this to high priority, based on the number of contacts of people who previously were able to create exhibits with high-res images and no base layer showing. This used to work, but in the 2.5.2 release something changed. Thanks.

[2017-09-08 18:41] akstuhl commented on #430
There's now a pull request up (#433) that addresses this and has been tested. The change to exhibit creation adds an option at the end of the spatial layers list for "None (Image or WMS as Default)" — how does that wording/UX sound to you, @rondauva?

This is on track to include in the 2.6.0 release once the changes are finalized.

[2017-09-08 19:57] rondauva commented on #430
That sounds perfect @akstuhl. Thanks for the update!

[2017-09-13 15:57] #295 closed, assigned to akstuhl

[2017-09-13 15:57] #430 closed, assigned to akstuhl

[2017-09-13 17:53] akstuhl commented on #388
Able to reproduce this bug with item coverage set to "GEOMETRYCOLLECTION(POINT(-60626.80528947, 6661916.076664))" — the point appears on the map after clicking Save, but the value does not persist in the record's geometry field, and the map marker disappears upon record close without reappearing.

This behavior is likely the same observed in #392.

[2017-09-13 18:34] jeremyboggs commented on #435
Duplicate of #334

[2017-09-18 14:39] #388 closed, assigned to jamiefolsom, akstuhl

[2017-09-18 14:39] #392 closed, assigned to akstuhl

[2017-10-10 14:00] jeremyboggs opened #438 "Neatline now needs PHP 5.4"
A function in the [NeatlineExhibit model](https://github.com/scholarslab/Neatline/blob/master/models/NeatlineExhibit.php#L54) uses the `[]` syntax for instantiating an [array](https://secure.php.net/manual/en/language.types.array.php), which was introduced in PHP 5.4. We've supported PHP 5.3 until this point, and Omeka Classic continues to support PHP 5.3. (In fact, [in our documentation](http://d

[2017-10-10 14:04] jeremyboggs commented on #438
For what it's worth, I looked through the code more thoroughly, and this looks like the only place where we use syntax introduced in PHP 5.4. So, if anyone gets in touch with us and needs to use PHP 5.3, we could just walk them through changing this from `[];` to `array();`.

[2017-10-10 14:53] emeehangsu opened #439 "Neatline installation problem on Omeka 2.5?"
I just installed Neatline and most of the Neatline widgets but cannot get the plugins working.  I am able to put in a Google API code into the configure section of Neatline, but the Neatline tab of the dashboard returns a 404 error.

The Neatline widgets all error out in the plugin page, indicating that I need to install Neatline before they can function.

Any suggestions?

[2017-10-10 14:54] jeremyboggs commented on #439
@emeehangsu what version of PHP are you using?

[2017-10-10 14:58] emeehangsu commented on #439
I think I resolved the problem... changed the plugin file name from Neatline-2.6.0 to Neatline and that seemed to fix it.

For what its worth I'm using PHP 5.6.31...but I think the problem was a human error : )

[2017-10-10 15:02] jeremyboggs commented on #439
@emeehangsu Do you mean the folder name?

[2017-10-10 15:02] emeehangsu commented on #439
Yes - the folder name

[2017-10-13 12:15] jeremyboggs commented on #439
Glad you got this working @emeehangsu!

[2017-10-13 12:15] #439 closed, assigned to nobody

[2017-10-13 12:16] jeremyboggs commented on #428
@akstuhl @jamiefolsom Was this issue addressed as part of #433?

[2017-10-13 12:54] jamiefolsom commented on #428
Hi @jeremyboggs, yes, it was. @akthomason if/when you have a moment to try out the new release, [v2.6.0](https://github.com/scholarslab/Neatline/releases/tag/v2.6.0), which includes that fix, among others, it would be great if you could confirm whether that fix addresses the problem you were seeing. Thanks!

[2017-10-13 16:02] akthomason commented on #428
Hi Jeremy,

I hope to test this next week, thanks!

Meanwhile, I have a question that may be you could answer. I was looking at this Neatline exhibit:
http://hotchkiss.neatline.org/neatline-exhibits/show/my-dear-little-nelly/fullscreen

I noticed the timeline stretches the fullscreen and the timeline uses different fonts than the standard neatline exhibits.

For our project, we would like to use t

[2017-10-25 12:44] shannonsdavis opened #440 "Invalid controller error"
I have installed Neatline 2.6.0 and tried both Omeka 2.3 and Omeka 2.5.1. In both cases, it looks as though the plugin installed successfully, but when I click on Neatline in the left hand menu, I get the error below.

Invalid controller specified (exhibits)

exception ‘Zend_Controller_Dispatcher_Exception’ with message ‘Invalid controller specified (exhibits)’ in /usr/local/data/htdocs/omeka/appl

[2017-10-28 17:27] ratigumashvili commented on #272
Hi folks, is there anything new with this plugin/sub plugin? Still searching for something like this (mean search in fullscreen mode) but can't find anything :/

[2017-10-28 19:35] tamielbr commented on #272
We didn't manage to move forward.

[2017-10-31 20:45] WhatTheDickens opened #441 "404 Page Not Found in"
I'm running Omeka 2.5.1 locally using MAMP 4.2.1 on MacOS. I installed and configured Neatline 2.6.0. The Neatline menu item shows up in the site navigation and the Dashboard navigation. Under Appearance > Navigation, the Neatline box is ticked, and the URL is set, by default, to `/neatline`.

But I can't create a new Neatline exhibit. When I click the Neatline menu item in the dashboard, instead

[2017-11-02 18:13] jcmundy commented on #424
I am using Omeka 2.5.1 and Neatline 2.6.0.  I am getting the error ```ReferenceError: google is not defined```  in neatline-editor.js for the admin edit side of any Neatline exhibit using Google as a base-map.  Any other base-map works fine.  The map will display on the public view (but without a center point and without any entries, because I cannot edit it).  Our site is hosted on Dreamhost.  Th

[2017-11-02 18:20] jamiefolsom commented on #424
Hi @jcmundy, thank you for this report. Could you provide a screenshot of the exhibit settings page, minus any proprietary or sensitive info? Any other info you can offer, like PHP and MySQL versions, other plugins installed, etc, might help too.

[2017-11-02 18:43] jcmundy commented on #424
![screen shot 2017-11-02 at 2 23 38 pm](https://user-images.githubusercontent.com/15927765/32343341-8576802e-bfd9-11e7-8eba-54441297b7cd.png)
![screen shot 2017-11-02 at 2 22 35 pm](https://user-images.githubusercontent.com/15927765/32343348-87e982c0-bfd9-11e7-9574-90ff19f6fe61.png)
Here is how I set a new exhibit.

[2017-11-02 18:48] jcmundy commented on #424
Here is the public exhibit that I have up at: http://ecdsdev.org/oakland/neatline/show/test-google
![screen shot 2017-11-02 at 2 47 19 pm](https://user-images.githubusercontent.com/15927765/32344312-d4f887ca-bfdc-11e7-891a-ef4f7ef6798e.png)

[2017-11-02 19:00] jamiefolsom commented on #424
Thank you, @jcmundy. I will see if I can reproduce this, and get back to you.

[2017-11-02 20:09] #441 closed, assigned to nobody

[2017-11-02 20:11] WhatTheDickens commented on #441
Issue resolved: The folder for the plugin must be renamed from `Neatline-some-version-number` to just `Neatline`.

[2017-11-02 20:19] jamiefolsom commented on #441
👍 glad you got this sorted. I will make a patch release to correct this, if @jeremyboggs and @rondauva see no reason not to.

[2017-11-06 18:02] jcmundy commented on #424
Also, I went back in and added a point to the public map http://ecdsdev.org/oakland/neatline/show/test-google   I added the point by changing the base layer to OpenStreetMap and then back to google satellite after.   The point looks normal at first, but if you zoom in to the largest satellite view, the point moves independently of the background map tiles.

[2017-11-09 16:08] JBPressac opened #442 "WKT syntax to add dots on the maps"
Hello,
In a instance of Omeka 2.5.1 + Neatline 2.6, I tried to add a WKT corresponding to Austin (Texas) like this: `POINT(30.2711286 -97.7436994) ` where 30.2711286 = latitude and -97.7436994 = longitude. However, the blue dot on the map is located on the middle of the map, in the Atlantic Ocean, near the coast of Africa. Is this the correct WKT syntax ?
Thanks,

[2017-11-09 17:47] akstuhl commented on #442
Hi @JBPressac, when comparing this to working WKT uses and testing it locally, I had some success  after adjusting both unit magnitude and lat/long order. When I adapt your original string to `POINT(-9774369.94 3027112.86)`, I see a point in the Gulf of Mexico. If you get a chance to test that format out, could you let us know if it appears correctly?

[2017-11-10 10:29] JBPressac commented on #442
Hello, I have the same result, but those latitude and longitude correspond to [the city of Austin](https://fr.wikipedia.org/wiki/Austin_(Texas)#/maplink/1), how come that the point is in the ocean ? And why the latitude and longitude had to be multiplied by 100.000 ? Thanks,

[2017-11-10 15:15] jcmundy commented on #442
@JBPressac  I think you are putting Lat and Long into the POINT() field.  You have to convert Lat/Long to WKT.  They aren't the same thing.  Try here:
https://jaguillette.github.io/omekaSugar/coords/

[2017-11-10 18:00] JBPressac commented on #442
Well, here was my problem: latitude and longitude could not be the parameters of the POINT, those parameters had to be calcuted. Thanks, @jcmundy.

By the way, the latitude and longitude of a place given by Wikipedia is not accurate enought to calculate the WKT Point. For instance, Wikipedia gives -4.1927, 48.3188 (longitude, latitude) for [Locmaria-Plouzané](https://fr.wikipedia.org/wiki/Locmaria

[2017-11-10 21:47] akstuhl commented on #442
Thank you @jcmundy for the explanation and web tool link! I'll close this issue for now but will add a note that WKT conversion could be a good topic to cover in the documentation. Thanks for providing these considerations and examples, @JBPressac

[2017-11-10 21:47] #442 closed, assigned to nobody

[2017-11-15 17:42] rondauva commented on #428
Hi @akthomason,

The Dear Little Nelly exhibit was created using an older version of Neatline and the SIMILE timeline. Unfortunately, one can no longer create exhibits that look like that.

Best,
Ronda

[2017-11-15 18:15] jamiefolsom commented on #440
Hi @shannonsdavis -- thanks for the report! @akstuhl -- want to have a look at this one?

[2017-11-15 18:19] jamiefolsom opened #444 "Research: Porting Neatline 2.6.x to Omeka S 1.0.0"

[2017-11-15 18:36] #438 closed, assigned to jeremyboggs, jamiefolsom, akstuhl

[2017-11-15 21:33] akstuhl commented on #440
Hi @shannonsdavis, this sounds somewhat similar to a problem that another user was able to fix by changing the name of the Neatline plugin folder in their installation. Could you check that the folder in your Plugins directory is named Neatline (vs, e.g., Neatline-2.6.0)? Thank you!

[2017-11-16 04:06] rhg65954 commented on #440
I was having the exact same problem and this fixed it for me as well. Thanks so much!

[2017-11-16 13:52] shannonsdavis commented on #440
Unfortunately that didn't wholly fix the problem. I have the directory named Neatline and when I go to plugins in the Omeka admin interface, under Neatline, it says "You have a new version of Neatline. Please upgrade!" When I click on the Upgrade button however, there's an error at the top of the page "The following error occurred while upgrading the Neatline plugin: Pre-2.0 versions of Neatline c

[2017-11-16 17:43] akstuhl commented on #440
@shannonsdavis Are you working with an existing installation of Neatline, or was the 2.6.0 version the first time you had installed the plugin? If an existing installation, do you know what version of Neatline you had last installed prior to 2.6.0? If you have an existing pre-2.0 installation with exhibits and records you want to persist, it may be the case that you need to install Neatline versio

[2017-11-16 17:53] shannonsdavis commented on #440
I didn't think we had a previous version installed, but I just installed 2.0 and then clicked Upgrade and this time it worked. When I click on Neatline in the admin interface I now get the Create An Exhibit option, so I think the problem is solved. Thank you!

[2017-11-16 18:07] akstuhl commented on #440
@shannonsdavis Excellent! Glad to hear that worked, and thanks very much for your detailed descriptions. @rhg65954 thank you as well for reporting your success. I'll close this issue for now as the plugin folder naming has since been flagged and corrected.

[2017-11-16 18:07] #440 closed, assigned to akstuhl

[2017-11-17 15:02] jcmundy commented on #424
Does the geolocation plugin cause problems with the Neatline plugin?  They both use a google code.  Also, does it cause problems to have old Neatline folders (from past installs) still (renamed) in the plugins folder?  I just installed the update, and I'm still having google-base-map-specific issues.

[2017-11-17 15:47] jamiefolsom commented on #424
@jcmundy You're right, that both plugins have a config field for a google maps API token, but if the geolocation plugin is present, and has a token in place, Neatline will use that one.

That said, if geolocation is installed, but incorrectly configured, that could cause problems for Neatline.

If possible, would you confirm that geolocation is either not installed, or else installed and correctly

[2017-11-17 15:55] jcmundy commented on #424
I have had it installed.  Today I deactivated it to see if that would help with the Google zoom issue, which remained unchanged after the new install.  It is currently deactivated.

[2017-11-17 15:56] jcmundy commented on #424
I can reactivate it.

[2017-11-17 16:01] jamiefolsom commented on #424
So if geolocation is deactivated, you would need to put a google maps API token into the neatline configuration. See: http://your.omeka-domain.org/admin/plugins/config?name=Neatline

[2017-11-17 16:02] jcmundy commented on #424
I have.  It continues to say "Google is not defined."  Thank you for your help!

[2017-11-17 16:07] jcmundy commented on #424
For comparision, here is a map with google-base:  http://ecdsdev.org/oakland/neatline/show/test-google
Here is a map with Stamen: http://ecdsdev.org/oakland/neatline/show/here-is-the-exhibit

[2017-11-17 16:12] jamiefolsom commented on #424
Thanks, @jcmundy we're taking a look

[2017-11-20 19:20] akstuhl opened #445 "Google API script error when Geolocation plugin installed"
Neatline checks whether a Google Maps API key has been set as a configuration option in the Geolocation plugin in order to avoid re-queueing the API script. However, the check ignores whether the Geolocation plugin is currently active or invoked in the current view, leading in several cases to a "google is not defined" error in the front end.

This bug was originally reported and documented by @jc

[2017-11-20 19:27] akstuhl commented on #424
Hi @jcmundy, thanks to your documentation here we've been able to reproduce the 'google not defined' bug and identified a fix — as you suggested, Neatline's interaction with the Geolocation plugin is faulty in certain cases. This leads to the error when Geolocation was installed but deactivated and when viewing an exhibit in the editor interface. I've opened a separate issue at #445 to address thi

[2017-11-20 19:27] #424 closed, assigned to jeremyboggs, jamiefolsom, akstuhl

[2017-11-20 19:36] jamiefolsom commented on #445
Makes sense @akstuhl -- thanks for tracking this down!

[2017-11-21 18:12] #445 closed, assigned to akstuhl

[2017-11-21 19:01] jcmundy commented on #424
Hi @akstuhl  Thank you for this!  This does fix my error with back-end editing on google maps!  I am still having a weird issue exhibit when I am using the google maps, though.  When zoomed in to the maximum zoom, points move at a different ratio to the background map.  The points themselves appear to stop scaling at the previous maximum zoom.  You can see the issue here: http://ecdsdev.org/oaklan

[2017-11-21 19:26] akstuhl commented on #424
Hi @jcmundy, very glad to hear you were able to fix the error! We've addressed the behavior at high zoom level in Google layers in #443 — that fix as well as the one for the interaction with Geolocation will be included in the next release, which we're in the process of preparing.

[2017-11-21 19:27] jcmundy commented on #424
Thanks!  I appreciate the help.

[2017-12-28 15:04] hlj24 commented on #252
Hi friends, Just gave the Duplicate button a test while running Omeka 2.5.1. One click created 79 duplicates. Oops! Anyone else experience this?

[2017-12-28 16:07] akstuhl commented on #252
Hi @hlj24, thanks for reporting this! If you have a chance, could you let us know what version number of Neatline you're using and any other plugins you have installed? Also, when Neatline created all those extra duplicates, did they all have the same name and did the name follow the format "[original exhibit name] ([username] copy)"?

[2017-12-28 16:20] hlj24 commented on #252
Hi @akstuhl, This occurred with Neatline 2.6.1, and all the duplicates had the same name and format as you describe. Other plugins installed:
Carta
CSV Import
Embed Codes
Escher
Geolocation
HTML5 Media
NeatlineFeatures
Neatline SIMILE Timeline
Neatline Text
Neatline Waypoints
Omeka Api Import
UniversalViewer

[2017-12-29 13:53] akstuhl commented on #252
Thanks, @hlj24 — we're taking a look at this and will follow up when we've been able to reproduce the bug.

[2018-01-01 17:15] dleisawitz commented on #252
Where is the new duplicate function button located?  I'm very glad this is moving forward.

Thanks!
Dan

[2018-01-02 15:26] akstuhl commented on #252
Hi @dleisawitz, the duplicate button (which was added in Neatline version 2.6.0) can be found among the links below each exhibit in the main Neatline admin view. Any exhibit you have permission to view should show a "Duplicate" link below its title along with "Public View," "Fullscreen View," etc. Clicking this will create a copy of the exhibit with "([your username] copy)" appended, on which you'

[2018-01-04 15:38] dleisawitz commented on #252
That explains it.  It looks like I have Neatline Version 2.5.1 by Scholars'
Lab as a plugin on Omeka.  I'm going to check with the digital dept. on my
campus to see if I can upgrade to 2.6.

Thanks for your help!
Dan

On Tue, Jan 2, 2018 at 10:26 AM, akstuhl <notifications@github.com> wrote:

[2018-01-25 17:10] robertss opened #449 "Search box for records in Neatline public interface"
Possible new feature: a search box widget in the public view to search records and zoom to record location. Not linked to Omeka search function or items, but only Neatline records.

Any idea how difficult this would be?

[2018-01-30 16:08] rondauva commented on #449
Thanks so much for this suggestion, @robertss. We'll definitely look into it while we're working through the grant.

[2018-02-01 20:46] djbdh opened #450 "Omeka has encountered an error"
Hi all!
I'm a novice at Omeka and Neatline, but excited to use it.  When I have NeatlineSimile active and try to click on Neatline, I get a generic "Omeka has encountered an error" (with no error codes).  I noticed, when I de-activated NeatlineSimile, Neatline is back to good, and works fine.  I tried to uninstall NeatlineSimile from within Omeka, and get that same "Omeka has encountered an error"

[2018-02-01 20:49] jeremyboggs commented on #450
@djbdh sorry for the trouble! Can you tell us what version of Omeka you'r eusing too?

Also, if you have access, it can be helpful to turn on more descriptive error messages. Look at Omeka's documentation on [Retrieving Error Messages](http://omeka.org/classic/docs/Troubleshooting/Retrieving_Error_Messages/) and if you get something more descriptive, please share it here!

In the meantime, I'll se

[2018-02-01 21:01] djbdh commented on #450
Thanks, Jeremy, for the helpful guidance.  Perfect, I just turned on the Omeka (2.5.1 is my version) descriptive error messages.  Here's what I have:
Zend_Db_Statement_Mysqli_Exception
exception 'Zend_Db_Statement_Mysqli_Exception' with message 'Mysqli prepare error: Table 'hchistor_omek1.omek_neatline_simile_exhibit_expansions' doesn't exist' in /home/hchistor/public_html/application/libraries/Ze

[2018-03-06 19:37] asegal20902 opened #451 "Trying to install Omeka2.6 and then Neatline on AWS server according to manual"
Hi. I am trying to install Omeka and then Neatline on my Amazon Web Services server for a project attempting to link timelines of photos to a map of locations
http://loc.gov/rr/print/coll/camilo-vergara-photographs.html

I am using the following manual

https://drive.google.com/file/d/0Bz1FHvEQjbvKLWNfYnFCVEVkOEU/edit

which is from 2013 and references Omeka 2.0
It seems that the Omeka folder is e

[2018-03-06 19:37] asegal20902 commented on #451
I don’t understand why, after I unzipped Omeka, and I got the results that it had unzipped successfully, and all the files were “inflated”, that only an empty Omeka directory was created having about 4K in it 4096 bytes. It said that Omeka was in an archive in Omeka-2.6.zip
drwxr-xr-x 8 ubuntu ubuntu 4096 Feb 15 00:41 omeka-2.6
-rw-rw-r-- 1 ubuntu ubuntu 16344458 Feb 15 14:44 omeka-2.6.zip
The zip

[2018-03-07 06:29] asegal20902 commented on #451
Hi. I think that everything in Omeka 2.6 did move properly to /var/www/html/ and the files are there!
drwxr-xr-x 8 ubuntu ubuntu 4096 Feb 15 00:41 .
drwxrwxr-x 3 root webdev 4096 Mar 6 05:18 …
drwxr-xr-x 3 ubuntu ubuntu 4096 Feb 15 00:41 admin
drwxr-xr-x 13 ubuntu ubuntu 4096 Feb 15 00:41 application
-rw-r–r-- 1 ubuntu ubuntu 5590 Feb 15 00:41 bootstrap.php
-rw-r–r-- 1 ubuntu ubuntu 532 Feb 15 00:

[2018-03-07 19:23] asegal20902 commented on #451
Hi! It looks like I am getting somewhere!!

http://18.217.236.218/install/

actually does bring up an Omeka page :slight_smile:

which says that the mod_rewrite is not enabled.

Will try enabling mod_rewrite tonight

[2018-03-10 14:10] david50s opened #452 "Neatline editor not loading"
I'm using Neatline v2.6.1 in an Omeka install version 2.6
Other specs:
PHP | 5.5.22 (cgi-fcgi)
OS | Linux 4.14.17 x86_64
MySQL Server | 5.6.37
The problem is that when I have the Neatline plugin installed and access the editor after filling out the Exhibit Settings info, the map (Open Street Map) continuously displays "Loading" in the lower right corner. The "Records" button in the left pane is un

[2018-03-12 14:35] jeremyboggs commented on #452
This seems like some issue with JavaScript, either some of the libraries or assets aren't loading, or something else is causing the error. If you don't mind, can you see what, if anything, is the output in your browser's console? This Super User Stack Exchange answer describes [how to get to the console in different browsers](https://superuser.com/a/509924), but am happy to help you more here if n

[2018-03-12 18:08] david50s commented on #452
Hi, thanks for the response,
This screen grab of the console with Waypoints widget active
![consolecapture](https://user-images.githubusercontent.com/37244224/37300241-d58fe59a-25fb-11e8-9a6c-5291da2bca71.JPG)
Console is the same with no widgets or other Neatline pluggins active.
I've also tried shutting down other plugins and have consistently gotten the same result.

I'm using Chrome. I've tried

[2018-03-13 02:01] jeremyboggs commented on #450
@djbdh Have been meaning to leave you a message here, to say I haven't forgotten about this, but have been unable to reproduce the error on my own, in multiple environments. I'm still working on it.

Can you try to just uninstall the plugin, delete the plugin folder from the `plugins` directory, redownload it, and try reinstalling again? It seems like it didn't write the necessary tables to the da

[2018-03-13 02:16] jeremyboggs commented on #452
@david50s Thanks, Dave. I"m poking around your site, adn I have changed that password to something only I know. I do see the error on your own site, but its not something I can replicate on my own instance. we'll keep investigating, and send you an update. Sorry for this!

[2018-03-19 12:22] david50s commented on #452
An update. I notice on another Omeka installation that I have with a different hosting service that Zend framework is listed in Omeka System Information.  Zend is not listed as a PHP extension in my problem installation. Could this have a bearing on this problem?

[2018-03-19 12:31] jeremyboggs commented on #452
Huh, that's curious. Can you share your full system information, for each one? Feel free to email me directly at jeremy@virginia.edu.

[2018-03-19 12:51] david50s commented on #452
Hi Jeremy – I tried to respond to Jeremy@virginia.edu <mailto:Jeremy@virginia.edu>  and it bounced back as undeliverable.

So here’s the info you requested. The good installation is at my personnel web site  - http://5thirdstreet.com/omeka

The system info at the problem installation is:

User

Browser

Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.32

[2018-04-10 01:42] moni1865 opened #453 "Spatial shapefile plug-in"
Is there a plug-in that allows one to use spatial shape files instead of rectified historical maps?

[2018-04-10 13:48] rondauva commented on #453
Hi moni1865,

No, unfortunately. If, however, your Neatline exhibit doesn't need to reference real world GIS, you can use a high resolution image, an historic map, for example, as the background for your Neatline exhibit. You'd add that URL on the Exhibit Settings dialogue screen.

Hope that helped, but do please let us know if you have further questions.

Best,
Ronda

[2018-04-13 03:14] moni1865 commented on #453
Thank you!

[2018-04-19 21:11] ERB13 opened #454 "Blank Timeline"
Howdy,
I'm having this issue and I'm honestly not a programmer by any means. The timelines created are completely blank. It's a test site, s I'm not really sure if that's what's causing the issue or not, but it doesn't seem like it is.

![image](https://user-images.githubusercontent.com/38542167/39018523-da57c008-43eb-11e8-8663-33138ee9a60d.png)

[2018-04-25 13:16] jeremyboggs commented on #454
@ERB13 What version of Neatline and Neatline-simile widget are you using? versions of Omeka? Looks like the simile-widgets script is getting requested over `http` and not `https`. Might be a bug on our end.

[2018-04-26 21:48] Kay718 opened #455 "Unable to Import Items or Create New Records"
Hi,
I keep receiving error messages when I try to import items or create new records. Can you please provide some assistance.

Warning: Declaration of NeatlineRecord::save() should be compatible with Neatline_Row_Expandable::save($throwIfInvalid = false) in /var/www/html/plugins/Neatline/models/NeatlineRecord.php on line 10
0

Warning: Declaration of NeatlineExhibit::beforeSave() should be compati

[2018-04-27 16:21] jeremyboggs commented on #455
@Kay718 Can you try upgrading to the latest version of neatline, [2.6.1](https://github.com/scholarslab/Neatline/releases/tag/v2.6.1) and see if you still get this error?

[2018-05-08 02:02] ERB13 commented on #454
@jeremyboggs Hi Jeremy,

It's Neatline 2.3 and I'm not sure about the simile widget. Where would I find that? I didn't install Neatline myself so I'm a tad new to where Omeka stores information like that.

Thanks!

[2018-05-10 02:08] silvrwood opened #456 "Invalid default value for 'center_date'"
I tried to install the Neatline plugin for my Omeka Classic 2.6.1 server, but I got this error:

Mysqli statement execute error : Invalid default value for 'center_date'

[2018-05-10 12:23] jeremyboggs commented on #456
@silvrwood Are you using [NeatlineSimile](https://github.com/scholarslab/NeatlineSimile) for adding timelines to a Neatline exhibit. Suspect the issue might be in there, if so.

[2018-05-10 12:35] jeremyboggs commented on #450
@djbdh Could you confirm that the steps I suggested in March helped, or didn't?

Also, I just now noticed that the table name in your error message seems to be `omek_neatline_simile_exhibit_expansions`. The missing 'a' on 'omek' makes me wonder if there a typo...somewhere. Could you tell me the values for your database name and table prefix, in `db.ini`?

[2018-05-10 12:39] jeremyboggs commented on #451
Hi @asegal20902, I hope you've gotten this to work. It seems like the issues you're running into involve Omeka itself, or at least getting it running on AWS. If you still need help with this, I suggest posting on the [Omeka Forum](https://forum.omeka.org/), if you haven't already. Am closing this issue.

[2018-05-10 12:39] #451 closed, assigned to jamiefolsom

[2018-05-10 12:41] jeremyboggs commented on #402
@asmartinez If our suggestions didn't help resolve your issue, please let us know, and we'll reopen the issue.

[2018-05-10 12:41] #402 closed, assigned to jamiefolsom, akstuhl

[2018-05-10 12:48] jeremyboggs commented on #414
@mkautz If you still need help with this, feel free to leave a comment in response to @rondauva and we'll try to keep helping you!

[2018-05-10 12:48] #414 closed, assigned to nobody

[2018-05-10 12:50] jeremyboggs commented on #400
@jamiefolsom @akstuhl This was fixed in 2.6, right?

[2018-05-10 12:50] #400 closed, assigned to jamiefolsom, akstuhl

[2018-05-10 12:57] jeremyboggs commented on #454
@ERB13 No worries! If your Omeka user is a superuser, you should be able to log in to the administrative panel, click the 'Plugins' link in teh top menu, and see the version numbers for any plugins you have in your Omeka instance.

I definitely recommend [upgrading plugins](http://omeka.org/classic/docs/Admin/Adding_and_Managing_Plugins/), and use the latest releases of Neatline and related widget

[2018-05-10 13:01] jeremyboggs commented on #377
@csellerssbu I think you're referring to our own [NeatlineMaps](https://github.com/scholarslab/NeatlineMaps) plugin. Seems you're suggesting a Neatline widget that would work specifically with ArcGIS, or some other data source. It's definitely something we'd like to encourage and support. Will close this ticket, given its similarity to #342, and recommend we continue conversations there.

[2018-05-10 13:01] #377 closed, assigned to nobody

[2018-05-10 13:02] jeremyboggs commented on #364
This has been addressed in the recent releases.

[2018-05-10 13:02] #364 closed, assigned to nobody

[2018-05-10 13:04] jeremyboggs commented on #355
This was addressed in NeatlineSimile.

[2018-05-10 13:04] #355 closed, assigned to jeremyboggs

[2018-05-10 13:06] jeremyboggs commented on #374
@djohnstonleddy If this continues to be an issue for you, let us know!

[2018-05-10 13:06] #374 closed, assigned to nobody

[2018-05-10 13:27] djbdh commented on #450
Hey Jeremy - thank you!  And my apologies for the delay.  I did do a full uninstall and reinstall, and that seems to have fixed the issue. Regards, David

[2018-05-10 13:49] jeremyboggs commented on #345
Let's move this to NeatlineSimile.

[2018-05-10 13:49] #345 closed, assigned to nobody

[2018-05-10 13:54] jeremyboggs commented on #272
Closing this as an issue for Neatline, but if someone has some updates on making their own plugin for this, please share here.

[2018-05-10 13:54] #272 closed, assigned to nobody

[2018-05-10 13:55] jeremyboggs commented on #252
This feature was added in 2.6.

[2018-05-10 13:55] #252 closed, assigned to nobody

[2018-05-10 14:11] csellerssbu commented on #377
Thanks for letting me know.
Chris

On Thu, May 10, 2018 at 9:01 AM, Jeremy Boggs <notifications@github.com>
wrote:

--
Christopher Sellers
<http://www.stonybrook.edu/commcms/history/people/faculty/sellers.html>
Professor of History
Director, Center for the Study of Inequalities, Social Justice, and Policy
<https://inequality.studies.stonybrook.edu/wordpress/>
Stony Brook University
christopher.sel

[2018-05-10 19:21] jeremyboggs commented on #450
@djbdh Glad to hear it!

[2018-05-10 19:21] #450 closed, assigned to nobody

[2018-05-11 02:11] silvrwood commented on #456
I was trying Neatline Time, Version 2.1.0 by Scholars' Lab (http://omeka.org/classic/plugins/Neatline/).

[2018-05-21 15:27] ERB13 commented on #454
Hi Jeremy,

This the information I got from our installer :

Neatline-Widget-SIMILE-Timeline-2.0.4
Neatline-2.6.1
At the time of installation I believe it was the most up to date version.

Does this help?

On Wed, Apr 25, 2018, 8:17 AM Jeremy Boggs <notifications@github.com> wrote:

[2018-05-23 20:23] zploskey opened #457 "neatline_exhibits_browse_default_sort filter is not called"
Attempting to define a filter for `neatline_exhibits_browse_default_sort` does not work. This is because of the way that Neatline sets its own default sort field and order. It is set in the controller here:

https://github.com/scholarslab/Neatline/blob/12d73cc2ceffc7ac5409a93d294385df889f43a8/controllers/ExhibitsController.php#L70-L81

Later, when the default sort filter would normally be run in `

[2018-05-27 13:11] dleisawitz opened #458 "Max Zoom on all records after update"
Question:
Is there a way to change the MAX ZOOM level on all of the records at once in an exhibit?

Background:
We just updated to Neatline 2.6.1 from 2.5 for . It seems that in this newer version of Neatline, the zoom function zooms in at smaller increments than in 2.5. So, while before a MAX ZOOM limit of 5 would bring the view in quite closely, now 5 clicks on the zoom button does not zoom you

[2018-05-29 14:36] rondauva commented on #458
Hi Dan,

I think there are a couple of options.

First, you can set a min and max zoom for the entire exhibit under the style tab in the exhibit editor, and that may be all that you need.

But if you need records to have individual max zoom levels, the easiest way to override what's in individual records is to use the Neatline stylesheet. Docs on this are at http://docs.neatline.org/neatline-style

[2018-05-29 17:22] dleisawitz commented on #458
Dear Ronda,

Thank you for your rapid and helpful reply.  I now realize what the issue
is and the style tab took care of it.

Best wishes,
Dan

On Tue, May 29, 2018 at 10:36 AM, Ronda <notifications@github.com> wrote:

[2018-05-29 19:19] rondauva commented on #365
this needs to be reviewed for possible better solution.

[2018-06-05 15:37] Jmuccigr opened #459 "Google offers multiple maps APIs"
Clicking on the link to the Google API page, I find that there are several versions of the maps API: static, javascript, streetview, URLs, embed (ignoring the ones for iOS and Android). Which one do I need to use?

TIA.

[2018-06-05 18:31] rondauva commented on #459
Hi John,

I noticed last week that the google api page had changed since we first put that link in the Neatline interface. Unfortunately, @jeremyboggs is away at a conference this week, and I don't know the answer. I'll get this information to you as quickly as I can, though.

Best,
Ronda

[2018-06-05 20:06] jamiefolsom commented on #459
Hi @Jmuccigr, The docs on the Google Maps API have changed, but I am reasonably sure you want a "Maps JavaScript API Key", which you can get here: https://developers.google.com/maps/documentation/javascript/get-api-key -- @rondauva and @jeremyboggs I will add it to our list to update the instructions on the config form.

[2018-06-05 20:13] Jmuccigr commented on #459
Yes, this seems indeed to work.

It might be worth also noting the new-ish lower ceiling on free usage.

[2018-06-05 20:14] jamiefolsom commented on #459
@Jmuccigr yes, that pricing change just came to my attention too. Thanks!

[2018-06-26 19:16] ataybe01 opened #460 "Neatline for Omeka-S?"
Hello,

We are running Omeka S, but we need to use a “Neatline” plug-in for our project. It looks"Neatline" is only for Omeka-Classic. Is it compatible with Omeka-S?

Thanks for your help.

[2018-06-26 19:22] rondauva commented on #460
Hello,

As I stated on the Omeka forum, no, there is not currently a version of Neatline that is compatible with Omeka S. Our development partners at Performant Software are in the process of developing the new technology stack required, but there will not be a public release for many months.

Best,
Ronda

[2018-06-26 20:13] #460 closed, assigned to nobody

[2018-07-31 11:12] AmandaUCSC opened #461 "Neatline plug-in issue leaving extraneous osm in Coverage field?"
Has anyone else run into issues with Neatline leaving “|||osm” in the Coverage field (see screenshot 1)? I can’t figure out what’s going on. If I deactivate everything, it’s still there. I uninstalled Neatline Features (which was causing an issue with Tiny MCE). We aren’t really using Neatline for anything publicly at the moment, but I don’t want to uninstall it because there’s still some things i

[2018-08-09 01:31] lasantangelo opened #462 "Display Multiple Items at one Address/Location"
Hello--Is it possible for neatline to display multiple items (in this case, events) at one address? It seems to only display one item/address, rather than the multiple I imported.

[2018-08-10 19:03] rondauva commented on #462
Hello @lasantangelo,

I'm not sure that I completely understand your question, so I'm going to throw a couple of answers out, and you can tell me if I'm close to giving you the information you need, ok?

1. A Neatline item can have multiple map annotations. As an example, if you were creating an exhibit about Stonehenge, and you wanted to mark all the locations of the blue stones, you might want t

[2018-08-10 23:22] lasantangelo commented on #462
Dear Ronda,

Thanks for your response! It's the second option I'd be curious to learn more about. I have imported the data through the CSV Import plug-in and included WKT coverage with the import (so I didn't actually draw anything manually on the maps). Can you tell me more about the Z-index?

Here's the project I'm talking about: http://www.mappingsuffrage.com/neatline/show/1870-suffrage#records

[2018-08-14 14:52] rondauva commented on #462
Lauren,

I saw your message yesterday, and I'm pondering how to design such an exhibit. I also need to check in with our R&D team re: the WKT coverage behavior on import. I hope to have a response ready for you by the end of the day. Thanks for your patience!

re: the Z-index
This is just a mechanism used to order layers of annotation on the base layer. You set this value on the Style tab, in the

[2018-08-16 16:16] rondauva opened #463 "Ability for Users to Change Overlay Transparency in Neatline Exhibit"
Request for new functionality, via user kteach (k12 teacher) on the Omeka forum:

A slider of some sort that allows a user to adjust the transparency of an overlaid Neatline item to see the base layer underneath. Useful for comparing locations/time in works of literature.

Her use case summary:
"it would be great for my students to be able to more easily look at the contemporary maps underneath th

[2018-08-16 21:13] lasantangelo commented on #462
Thanks, Ronda! I'll appreciate any insight you have.

[2018-09-13 12:20] jeremyboggs commented on #461
@AmandaUCSC Gonna close this ticket, since we're also discussing on the forums.

[2018-09-13 12:20] #461 closed, assigned to nobody

[2018-09-13 20:12] adehner opened #464 "When closing a record, the URL does not change"
When navigating my public neatline exhibit (neatline 2.6.1, omeka 2.6), clicking a map marker loads the marker's record, the URL changes to a unique URL for the selected record, and and the marker's static bubble displays. Great.

But when clicking the "x" in the record's static bubble, the static bubble closes, but the page doesn't reload. The previously selected record's URL persists in the brow

[2018-09-14 19:58] rondauva commented on #464
Hi @adehner,

This is actually expected behavior, and the way the program has always worked.

If you'll tell us more about your expectation that after each record, the exhibit should return to an original state, we'd definitely like to know more about that. We're always happy to learn about ways that users want the interface to work.

Many thanks,
Ronda

[2018-11-08 16:58] jswafford commented on #400
I'm still encountering this error using both Omeka 2.6.1 and Omeka 2.4.1 with Neatline 2.6.1, and it's keeping me from saving Neatline records. It's the same stack trace:

2018-11-07T21:35:18+00:00 ERR (3): exception 'Zend_Db_Statement_Mysqli_Exception' with message 'Mysqli statement execute error : Column 'added' cannot be null' in /usr/local/htdocs/omeka/application/libraries/Zend/Db/Statement/M

[2018-11-08 17:15] jamiefolsom commented on #400
Hi @jswafford, I will take a look at this. There was a patch in v2.6.0 that was supposed to fix this, but it sounds as though either that didn't do the trick, or this is a different issue. Are you seeing the problem upon new exhibit creation? Thanks.

[2018-11-08 19:00] jswafford commented on #400
Thanks for taking a look! I'm seeing the problem any time I try to save a new record in Neatline, whether it's a new or old exhibit.

[2018-11-08 19:02] jamiefolsom commented on #400
@jswafford ok, so that's potentially the same issue, but cropping up in a different place. Can you confirm that you're able to create and save new exhibits without an issue?

[2018-11-08 20:26] jswafford commented on #400
@jamiefolsom Sorry for the confusion: I can create and save new Neatline exhibits without a problem; the problem just occurs when I try to create and save records in a Neatline exhibit.

[2018-11-08 20:42] jamiefolsom commented on #400
Hi @jswafford -- no worries, just want to confirm. When you have a moment, would you also click the "System Information" link at bottom right of your Omeka admin dashboard, and let me know what you see in the "MySQL Server" line? Thanks!

[2018-11-09 17:33] jswafford commented on #400
@jamiefolsom  Sure! It says "5.6.41"

[2018-11-09 17:47] jamiefolsom commented on #400
Hi @jswafford, OK, I think that confirms my suspicion that this is the same issue we saw on the ExhibitRecord model. If you're feeling game, try applying this patch to `models/NeatlineRecord.php`.

[code]
I will also test and make a proper patch release, but I don't want to hold you up since you've got student projects in the queue.

[2018-11-12 13:43] jeremyboggs commented on #464
@adehner The offer @rondauva made is still open! I'm closing this issue, but happy to keep comments open to continue conversation.

[2018-11-12 13:43] #464 closed, assigned to rondauva

[2018-11-12 13:49] jeremyboggs commented on #459
@rondauva @jamiefolsom Let's make an issue on [Neatline Docs](https://github.com/scholarslab/docs.neatline.org) to specifically address this.

[2018-11-12 13:55] jeremyboggs commented on #457
@zploskey I'm very sorry we didn't respond to you, especially since this is a very trivial fix. Given that the Omeka team updated the Collections controller to put `parent::browseAction();` first, I think that's the better approach. If you'd still like to submit a patch for this, that'd be great! Otherwise, we can make this change ourselves and include it in our next bugfix release.

[2018-11-12 17:31] jswafford commented on #400
@jamiefolsom It works!!!! Thank you so much!!

[2018-11-12 17:34] jamiefolsom commented on #400
@jswafford Great, thanks for testing it! I will make a patch release at some point soon.

[2018-11-12 20:38] adehner commented on #464
Thanks @jeremyboggs!

[2018-11-14 15:59] jeremyboggs opened #466 "Update dependencies to address vulnerability."
We need to [update Lodash to the latest version](https://github.com/scholarslab/Neatline/network/alert/package.json/lodash/open).

[2018-11-16 13:23] zploskey commented on #457
@jeremyboggs Thanks for following up on this. I'll submit a patch.

[2018-11-16 17:05] #457 closed, assigned to nobody

[2018-11-16 17:08] jeremyboggs commented on #435
Closing as duplicate.

[2018-11-16 17:08] #435 closed, assigned to jeremyboggs, akstuhl, rondauva

[2018-11-28 20:15] rondauva commented on #455
A user on the Omeka forum is also reporting that he's getting this error. He's running 2.6.1. See https://forum.omeka.org/t/neatline-warning-appears-in-dashboard-and-public-view/7552

[2018-12-12 19:54] Dr-Hutchinson opened #468 "Google API Key, Spatial Layers not appearing"
Greetings,

Sorry if this question is elementary, but I'm having difficulty getting spatial layers to appear in Neatline for Omeka 2.6. I recently installed Neatline, registered for Google Cloud, and acquired a Google API Keyfor  Maps Javascript API.  I copy and pasted that key into the Neatline plugin configuration page. Omeka's Imagemagik settings appear correctly configured. But when I create a

[2018-12-12 20:22] rondauva commented on #468
Hi @Dr-Hutchinson,

The only thing I can think of is that you need the google base layer you want to use for your exhibits to appear in both the Enabled Spatial Layer and the Default Spatial Layer boxes in the Exhibit Settings, and the Image Layer, WMS Address, and WMS Layers should not have values filled in.

I'll chat with our developers about this, and if they have additional instructions or re

[2018-12-13 13:23] Dr-Hutchinson commented on #468
Ronda,

Many thanks for your quick assistance. I'm not sure what exactly I did, but I made a new Google API key, uninstalled & deleted Neatline, and reinstalled on the server. And now it works! Should have tried that first I guess. Thank you again!

[2018-12-13 13:23] #468 closed, assigned to nobody

[2018-12-13 15:10] rondauva commented on #468
Fantastic! I'm so relieved that it's working for you now. Please do let us know if you encounter any further issues.

[2019-02-04 18:55] jcmundy opened #469 "White border on edge of map tiles"
I'm getting a white border on the (viewer's) right side of the map tiles that I pull in from geoserver.  They pull in correctly but a white band remains covering the right side of the map just before the tiles start over.  If I zoom in, the band remains the same width (thus covering less of the map).  Do you know what might be doing this?  We cannot replicate the error when pulling the map from ge

[2019-02-04 19:12] #469 closed, assigned to nobody

[2019-02-04 19:13] rondauva commented on #469
Hi @jcmundy,

Did you find the solution to this? I'd just started looking into it and realized you'd closed the issue.

Best,
Ronda

[2019-02-04 19:17] jcmundy commented on #469
It appears to be an OpenLayers issue.  When I changed the url to /geoserver/gwc/service/wms  instead of /geoserver/wms the band goes away.

[2019-02-04 19:19] rondauva commented on #469
Thank you for the update!

[2019-06-05 16:39] rondauva opened #470 "Neatline 2.6.2 overriding default settings on upgrade"
from the Omeka forums, Jim McGrath reports:
 "Hi! An Omeka project we have on university servers recently upgraded Omeka and Neatline (Omeka to 2.7 and Neatline to 2.6.2). We had several Neatline exhibits created in Neatline 2.5.1, and in the latest version of Neatline:

-the base image layer is no longer the default layer. This seems to be an easy fix: it just looks like the Neatline upgrade over

[2019-06-05 16:46] jeremyboggs commented on #470
Wondering offhand if this is an issue with migrating from Neatline 2.5 to 2.6, and not specifically a result of changes in 2.6.2. @jamiefolsom You think there's anyting in the changes you guys added that might contribute to this issue?

[2019-06-26 13:57] rondauva opened #471 "Report that changing annotation characteristics on one record changes all records"
Report from omeka forum user kirsty.lock that when she edits the characteristics of the map annotations on one record, all records in the Neatline exhibit are changing to match. Neatline v. 2.5.1.

https://forum.omeka.org/t/can-i-make-items-on-different-z-levels-different-colours/8957/4

Have asked for admin level login account to check this out, but will also recommend that she upgrade because of

[2019-07-09 18:20] tpegues2 opened #472 "Map Markers Don't Appear As Map Backdrops"
Neatline is not working properly.  Map markers don't appear and uploaded images don't appear as map backdrops. Files also don't seem to have uploaded properly to the items database.

[2019-07-10 15:35] rondauva commented on #472
Hi tpegues2,

Which version of Neatline and Omeka are you using? Can you tell me a bit more about the exhibit that you're trying to build with Neatline, please? You want to use high resolution images as the background of the exhibit? and you've made annotations on the maps/images, but you don't see them in the exhibit? Is there a public URL that you can give me so that I can look at the exhibit yo

[2019-07-23 12:44] tpegues2 commented on #472
Hi Ronda,

Please forgive the delay but the end user was on vacation.

She explains the issue as follows:
“Attached are images showing a neatline exhibit with the map markers, and without the map markers, and a neatline exhibit with and without the background image. “

We are using the latest version of Omeka 2.7 after upgrading from version 2.6.1 where Neatline had no issues.
We can run the older

[2019-07-23 14:34] rondauva commented on #472
Thanks Tharrow,

Looks like those attachments didn't make it to github. Could you please email them to me at rag9b @ virginia.edu? Thank you!

Ronda

[2019-07-23 15:00] jcmundy commented on #472
@tpegues2 Have you tried upgrading to the current dev version of Neatline?  We had to do that on a freshly installed Omeka site.  Neatline has been updated since 2.6.2, but the next release number isn't out yet (https://forum.omeka.org/t/neatline-bug-in-2-6-2-records-no-longer-displaying-in-published-exhibits/8898/5).

[2019-07-23 15:05] rondauva commented on #472
Thanks @jcmundy! Good catch! This very definitely was a bug that has now been patched, but the 2.6.3 release hasn't been tagged yet.

[2019-07-24 18:43] rondauva opened #473 "Duplicating exhibits results in multiple copies being spawned"
see also: https://forum.omeka.org/t/neatline-duplicate-function-problems/9115

User reports that clicking the Duplicate button on an exhibit on the Neatline Exhibits Browse screen results in ~100 copies being spawned. All copies initially report that they are empty on the Browse Exhibits page. Omeka Classic 2.7, Neatline version TBD.

Testing here on workshop.neatline.org with Omeka 2.6.1 and Neat

[2019-07-24 20:30] Dr-Hutchinson commented on #473
I'm the user facing the difficulty, many thanks for the assistance. Running Neatline 2.6.1.

[2019-07-27 19:20] apjmason commented on #472
Hi All, just installed a new Omeka 2.7 and Neatline 2.6.2 site and this problem is still there (records don't show until selected). Any word on when the new 2.6.3 release will be tagged @jeremyboggs ?

Thanks!
Austin

[2019-07-29 14:39] jeremyboggs commented on #472
@apjmason Sorry, we're still trying to figure out what exactly the problem is. Records not showing until selected sounds like a slightly different issue that map markers not appearing at all. If anyone has links to accessible exhibits with these issues, it would help me to debug things. Otherwise, I'll keep trying to figure it out. Thanks!

[2019-07-29 14:40] jeremyboggs commented on #472
@tpegues2 Are you talking about Omeka items, with file attachments?

[2019-07-29 14:50] jeremyboggs commented on #472
Hi folks,

I just tagged [version 2.6.3](https://github.com/scholarslab/Neatline/releases/tag/v2.6.3), which addresses #470. I suspect the same MySQL syntax error reported there might also be causing the issues you're seeing here. Please do upgrade to this version, and if you still have the same issues with map markers, let me know. (It might take a while for this release to appear on the Omeka pl

[2019-07-29 14:50] #470 closed, assigned to jeremyboggs, rondauva

[2019-07-29 15:29] jeremyboggs commented on #473
@Dr-Hutchinson I've not looked into this yet. And I'm skeptical it will help, but do try to update to the latest patch I just published, [Neatline 2.6.3](https://github.com/scholarslab/Neatline/releases/tag/v2.6.3)

[2019-07-29 16:15] jamiefolsom commented on #473
Hi @Dr-Hutchinson, and @rondauva and @jeremyboggs. Thanks for this report. So it sounds like there are two separate issues, the one with Omeka 2.7 resulting in too many duplicates, and the one with Omeka 2.6.x with non-functional exhibits or records, is that accurate?

If you can confirm those details, and provide any others you can (perhaps data or screenshots from the Omeka install, exhibits, an

[2019-07-29 17:06] jeremyboggs commented on #473
@jamiefolsom I suspect the release I just tagged will help with the non-functional exhibits/records. But yes, it seems like two separate issues. There are no duplication issues that we can see with Omeka 2.6.x, so it might just be an issue with 2.7.

[2019-07-31 06:46] Maryvelma opened #474 "A Neatline Assistant"
Hello, I am well into a Neatline project but I need an assistant with some of the technical issues.  Anybody looking for paid work?  Thank you.

[2019-08-26 14:33] rondauva opened #475 "Omeka+Neatline broken with PHP 7.2 update"
via the Omeka forum:

https://forum.omeka.org/t/omeka-classic-running-neatline-and-neatlight/9350

User ddimento there had a working Omeka+Neatline install (Omeka classic, Neatline, Neatlight theme, Waypoints), but when their hosting provider upgraded PHP to version 7.2, their exhibits no longer work.

[2019-09-07 21:21] AntjeAnderson commented on #473
I have just begun to work with Omeka and Neatline, so I have Omeka 2.7 and Neatline 2.6.3., and my attempt to duplicate my one and only Neatline Exhibit resulted in 18 pages of empty exhibits! So the problem has not gone away. My question is very basic: how do I delete these? I am working on  Reclaim Hosting as my web server, and I cannot figure out where these empty files would be located so I ca

[2019-10-01 14:21] eam5 opened #476 "Test Issue"
this is a test for slack

[2019-10-01 14:39] eam5 commented on #476
test comments

[2019-10-01 14:42] eam5 commented on #476
another test comment

[2019-10-01 14:44] eam5 commented on #476
test completed successfully

[2019-10-01 14:44] #476 closed, assigned to nobody

[2019-10-10 02:06] AntjeAnderson opened #477 "Errors in duplication and copying Neatline items with geometry / WKB"
I have attempted in every way I can think of to copy either a Neatline Exhibit or copy Neatline Records into a new exhibit--partly just to create a backup copy, partly because I need to be able to export a Neatline Exhibit (if possible) to another Omeka website rather than recreating my map on that site. But

 a) the duplication error noted by others but apparently not resolved resulted in hundred

[2019-10-10 12:48] jeremyboggs commented on #474
@Maryvelma If you've not already posted there, please consider posting work opportunities on the [Designer-Developer Opportunities forum](https://forum.omeka.org/c/designer-developer-opportunities) on the Omeka site.